<div class="popup popup--rounded popup--standard popup-mailing-blacklist">
  <a class="js-close-popup popup__close"><i class="icon-remove icon-remove--purple-dark"></i></a>
  <p class="fw-fw-600 fw-fz-16">Выберите пользователей, которые не будут видеть рассылку</p>

  <div class="fw-mt-25">
    <div class="input-box">
      <app-input-box [placeholder]="'Введите имя'" (keyup)="filterBlacklist($event)"></app-input-box>
    </div>
  </div>

  <div class="form">
    <div class="js-scroll-pane fw-height-378 fw-mt-20">
      <perfect-scrollbar class="popup-mailing__blacklist-scroll">
        <label class=" fw-mb-20 fw-flex fw-flex-middle">
          <span *ngIf="selectedAll"
                class="fw-width-34 fw-height-34 fw-brp-50 fw-mr-10 fw-flex-shrink-no fw-bg-purple fw-flex fw-flex-middle fw-flex-center">
            <i class="icon-remove icon-remove--light icon-remove--larger"></i>
          </span>
          <span *ngIf="!selectedAll"
                class="fw-width-34 fw-height-34 fw-brp-50 fw-mr-10 fw-flex-shrink-no fw-bg-purple fw-flex fw-flex-middle fw-flex-center">
            <i class="icon-checked"></i>
          </span>
          <span class="fw-flex-grow user-checkbox-list">
            <input type="checkbox" data-no-style="" class="fw-hidden" name="test" (change)="switchBlacklist()">
            <span class="fw-fw-600 fw-fz-14 fw-color-purple">{{'FORMS.FORM_CONTROL.SELECT_ALL' | translate}}</span>
          </span>
        </label>
        <div *ngFor="let user of girls._embedded.clientCard">
          <label class="fw-mb-20 fw-flex fw-flex-middle" *ngIf="!user._hidden">
            <span class="fw-width-34 rounded fw-mr-10 fw-flex-shrink-no">
              <img
                  src="{{(user.avatar) ? user.avatar._links.small.href : '/assets/images/default-navigation-avatar.svg'}}"
                  alt="" class="fw-width-1-1 fw-brp-50">
            </span>
            <span class="fw-flex-grow user-checkbox-list fw-block">
              <input type="checkbox" class="fw-hidden" (change)="switchBlacklist(user)">
              <span class="user-checkbox-list__detector fw-fw-600 fw-fz-14"
                    [ngClass]="{'checked-user': user._selected}">{{user.name}}, {{user.age}}</span>
            </span>
          </label>
        </div>
      </perfect-scrollbar>
    </div>
    <hr class="hr-small">
    <div class="fw-text-center fw-mt-30">
      <span class="button button--primary" (click)="saveBlacklist()">Сохранить</span>
    </div>
  </div>
  <app-preloader *ngIf="preloader"></app-preloader>
</div>