@each $border-width in 1
  .fw-bw-#{$border-width}
    border-width: #{$border-width}px

@each $border-color in $colorWhite
  .fw-bc-#{$border-color}
    border-color: $border-color

@each $border-style in solid, dashed, dotted
  .fw-bs-#{$border-style}
    border-style: $border-style

@each $border-radius in 3, 5, 50
  .fw-br-#{$border-radius}
    border-radius: #{$border-radius}px

@each $border-radius in 50%
  .fw-brp-#{str_replace('#{$border-radius}', '%', '')}
    border-radius: #{$border-radius}

.fw-bc-white
  border-color: $colorWhite

.fw-bc-grey-dark
  border-color: $colorGreyDark