.fw-inline
  display: inline-flex

.fw-inline-block
  display: inline-block

.fw-block
  display: block

.fw-vam
  vertical-align: middle

.fw-transition
  transition: all .3s ease-in-out

.fw-overflow
  overflow: hidden

.fw-image-cover
  width: 100%
  height: 100%
  object-fit: cover

.fw-box-shadow
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15)

.fw-hidden
  display: none

.fw-reset
  border: none
  text-decoration: inherit
  color: inherit
  background: none
  padding: 0
  margin: 0

.fw-min-width-0
  min-width: 0

.fw-position-relative
  position: relative

.panel-section__devider
  height: 1px
  background-color: #dadada
  width: 100%
  margin: 20px 0

.fw-has-user-status
  font-family: "open-sans", sans-serif
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  position: relative
  box-sizing: border-box
  padding-right: 12px

  &:after
    display: inline-block
    vertical-align: middle
    position: absolute
    right: 0
    top: 50%
    margin-top: -3px
    width: 6px
    height: 6px
    border-radius: 100%
    content: ''
    background-color: #6ec100
    
  &.fw-has-user-status--offline
    &:after
      background-color: #999999

.fw-text-ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.button-reset
  background: none
  border: none
  color: #b3b3b3
  padding: 0
  margin: 0
  
  &:hover
    color: #b3b3b3 * 0.7

.fw-cursor-pointer
  cursor: pointer