@import "flex"
@import "badge"
@import "margin"
@import "font"
@import "color"
@import "grid"
@import "width"
@import "padding"
@import "border"
@import "background"
@import "text"
@import "line_height"
@import "default"
@import "height"

.fw-transition
  transition: all .3s ease-in-out

.fw-overflow
  overflow: hidden

.fw-image-cover
  width: 100%
  height: 100%
  object-fit: cover