.fw-text-uppercase
  text-transform: uppercase

.fw-text-left
  text-align: left

.fw-text-right
  text-align: right

.fw-text-center
  text-align: center

.fw-text-underline
  text-decoration: underline

.fw-text-underline--hover
  &:hover
    text-decoration: underline