<div class="container">
  <div class="fw-mt-20">
    <p class="fw-fz-26">Buttons</p>
    <div class="fw-flex fw-pt-10 fw-pb-10">
      <div class="fw-mr-5"><a href="#" class="button">.button</a></div>
      <div class="fw-mr-5"><a href="#" class="button button--default">.button .button--default</a></div>
      <div class="fw-mr-5"><a href="#" class="button button--primary">.button .button--primary</a></div>
      <div class="fw-mr-5"><a href="#" class="button button--success">.button .button-success</a></div>
      <div class="fw-bg-cyan"><a href="#" class="button button--transparent"><span class="button--transparent__text">.button .button--transparent</span></a></div>
    </div>
  </div>

  <div class="fw-mt-20">
    <p class="fw-fz-26">Form elements</p>
    <div class="fw-pt-10 fw-pb-10">
      <app-input-box [placeholder]="'.input-box'" [tooltip]="'см'"></app-input-box>
    </div>
    <div class="fw-pt-10 fw-pb-10">
      <app-textarea-box [placeholder]="'.textarea-box'" [tooltip]="'10'" [tooltip_message]="'Длина сообщения должна быть не менее 10 символов'"></app-textarea-box>
    </div>
    <div class="fw-pt-10 fw-pb-10">
      <app-checbox-box [name]="'checkbox'" [items]="[{label: 'checkbox 1', checked: false}, {label: 'checkbox 2', checked: false}]"></app-checbox-box>
    </div>
    <div class="fw-pt-10 fw-pb-10">
      <app-checbox-box-label [name]="'checkbox_label'" [items]="[{label: 'checkbox label 1', checked: false}, {label: 'checkbox label 2', checked: false}]"></app-checbox-box-label>
    </div>
    <div class="fw-pt-10 fw-pb-10">
      <app-radio-box [name]="'radio'" [items]="[{label: 'radio 1', checked: false}, {label: 'radio 2', checked: false}, {label: 'radio 3', checked: false}]"></app-radio-box>
    </div>
    <div class="fw-pt-10 fw-pb-10">
      <app-radio-box-label [name]="'radio_label'" [items]="[{label: 'radio label 1', checked: false}, {label: 'radio label 2', checked: false}]"></app-radio-box-label>
    </div>
  </div>

</div>