<div *ngIf="!logged" class="fw-mb-15-inverse">
  <app-section-new-girls></app-section-new-girls>

  <section class="fw-pt-20 fw-pb-20">
    <div class="container">
      <div class="fw-grid fw-grid-15">
        <div class="fw-width-1-2">
          <app-panel-top-users [users]="usersInTop"></app-panel-top-users>
        </div>
        <div class="fw-width-1-2 fw-flex">
          <div class="main-na__video fw-cursor-pointer fw-flex panel-section fw-flex-grow">
            <i class="icon-main-na__video-play"></i>
            <div class="main-na__video-info fw-flex fw-flex-space-between fw-width-1-1">
              <div class="main-na__video-title">
                Мнение видео блогеров <br>
                о Золушка project
              </div>
              <div class="main-na__video-time">
                12:05
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-section-popular-users *ngIf="!logged" class="fw-block fw-mb-30"></app-section-popular-users>

  <app-main-install-app *ngIf="!logged" class="fw-block"></app-main-install-app>

  <app-main-carousel *ngIf="!logged" class="fw-block"></app-main-carousel>

  <app-section-registration *ngIf="!logged" class="fw-block"></app-section-registration>
</div>

<div *ngIf="logged" class="container">
  <div class="fw-pt-40 fw-pb-40">
    <div class="fw-grid fw-grid-30">
      <div class="fw-width-1-2">
        <app-panel-new-girls class="fw-block fw-mb-30"></app-panel-new-girls>

        <app-index-panel-views class="fw-block fw-mb-30"></app-index-panel-views>

        <app-index-panel-blog class="fw-block"></app-index-panel-blog>
      </div>
      <div class="fw-width-1-2">
        <app-index-panel-day-person class="fw-block fw-mb-30"></app-index-panel-day-person>
        <app-index-panel-chat-list class="fw-block fw-mb-30"></app-index-panel-chat-list>
        <div class="fw-mb-30">
          <div class="fw-grid fw-grid-30">
            <div class="fw-width-1-2" *ngFor="let user of usersInTop._embedded.clientCard">
              <app-user-cart [small]="true" [user]="user"></app-user-cart>
            </div>
          </div>
        </div>
        <app-index-panel-mailing-feedback class="fw-block"></app-index-panel-mailing-feedback>
      </div>
    </div>
  </div>
</div>

<!--<app-section-store-link [backgroundImage]="!logged"></app-section-store-link>-->