<section>
  <div class="container">
    <p class="fw-fw-600 fw-fz-15 fw-text-center">О проекте пишут следующие СМИ:</p>
    <div class="fw-mt-20 fw-flex fw-flex-center">
      <a href="#" class="fw-mr-40"><i class="icon-mm-mail-online"></i></a>
      <a href="#" class="fw-mr-40"><i class="icon-mm-metro"></i></a>
      <a href="#" class="fw-mr-40"><i class="icon-mm-tatler"></i></a>
      <a href="#"><i class="icon-mm-wmj"></i></a>
    </div>
    <div class="page-content-area fw-flex fw-flex-middle fw-flex-column">
      <div class="fw-wp-610">
        <ul>
          <li><a href="#" class="fw-color-purple fw-text-underline--hover">Daily Mail</a> (Ведущее английское печатное издание)</li>
          <li>Московским холостякам придется платить за свидания - <a href="#" class="fw-color-purple fw-text-underline--hover">MetroNews</a></li>
          <li>Сколько стоят отношения по расчету? - <a href="#" class="fw-color-purple fw-text-underline--hover">TATLER</a></li>
          <li>Охота на спонсора: где девушкам искать состоятельных парней? - <a href="#" class="fw-color-purple fw-text-underline--hover">WomanJournal</a></li>
        </ul>
        <p class="fw-fw-600 fw-fz-15 fw-text-center fw-mb-20">Смотри видео о нас</p>
        <div class="fw-text-center">
          <img src="http://placehold.it/250x145" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>