$colorWhite: #fff
$colorRed: #f2535c
$colorRedLight: #ff616b
$colorGreen: #00cc8f
$colorGreenDark: #00a372
$colorBlue: #443a91
$colorViolet: #a555ac
$colorVioletDark: #a149a9
$colorPurple: #bd0fe1
$colorPurpleDark: #970cb4
$colorGrey: #c2c2c2
$colorGreyDark: #999999

.text
  background: linear-gradient(to top, #a149a9, #c732d4)

