<div class="popup popup--standard fw-width-800">
  <h1 class="page-section__head head"><span
      class="head__title">Для расширенного поиска необходимо зарегистрироваться</span></h1>
  <p class="page-section__excerpt fw-mt-40">Выбирая девушку на сайте Золушка project, вы можете быть уверены, что ее
    фотография на сайте соответствует реальности, если у нее стоит лейбл: «фото проверено».</p>
  <p class="page-section__text fw-mt-20">Мужчины могут фильтровать девушек по данному критерию. Подключите услугу и
    будьте спокойны в том, что вы общаетесь действительно с девушкой.Услуга покупается на неделю или месяц.</p>

  <p class="fw-mt-40 fw-text-center">
    <a class="fw-color-red fw-text-underline--hover">Узнать больше о технологии подтверждения фотографий.</a>
  </p>
  <div class="fw-text-center fw-mt-20">
    <a routerLink="/registration" class="button button--primary js-close-popup">Зарегистрироваться</a>
  </div>
</div>
