<section class="panel-section panel-section--rounded panel-section--overflow-no">
  <div class="panel-section__content panel-section__content--boxed">
    <p class="fw-fw-600 fw-fz-16">Архив рассылок</p>
    <div class="panel-box panel-box--rounded panel-box--bordered panel-box--overflow-no fw-mt-20">
      <div class="fw-flex fw-flex-space-between fw-flex-middle">
        <p class="fw-text-warmgrey fw-fz-13">01.03.2017 10:19</p>
        <p><a href="#" class="fw-link fw-color-purple fw-text-underline--hover fw-fz-14">Редактировать и возобновить</a></p>
      </div>
      <p class="fw-fw-600 fw-fz-14 fw-mt-10">21-25, Москва, провести вечер, показывается во всех городах</p>
      <p class="fw-mt-10 fw-fz-13">Привет! Предлагаю встретиться 04.11, вечером. Хочу познакомиться с пермским гостеприимством и темпераментом. Жду ответа и надею…</p>
      <p class="fw-mt-20 fw-fw-600 fw-fz-14 fw-mb-5">Проявили интерес</p>
      <div>
        <div class="fw-flex fw-flex-middle">
          <div class="fw-flex-grow fw-mr-10 fw-overflow-no">
            <div class="fw-flex fw-flex-wrap">
              <a href="#" class="fw-tooltip fw-width-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no" data-title="Маша, 23"><img src="http://placehold.it/50x50" alt="" class="fw-brp-50 fw-width-1-1"></a>
            </div>
          </div>
        </div>
      </div>
      <p class="fw-mt-20 fw-fw-600 fw-fz-14">Исключенные пользователи</p>
      <div>
        <div class="fw-flex fw-flex-middle">
          <div class="fw-flex-grow fw-mr-10 fw-overflow-no fw-mw-87">
            <div class="fw-flex fw-flex-wrap">
              <a href="#" class="fw-tooltip fw-width-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no" data-title="Маша, 23"><img src="http://placehold.it/50x50" alt="" class="fw-brp-50 fw-width-1-1"></a>
            </div>
          </div>
          <div class="fw-flex-shrink-no"><span class="fw-link fw-color-purple fw-text-underline--hover">и еще 22</span></div>
        </div>
      </div>
    </div>
  </div>
</section>