<article class="panel fw-position-relative panel-section-blog">
  <div class="fw-pt-20 fw-pb-20 fw-pl-20 fw-pr-20">
    <div class="panel-section-blog__author author fw-flex fw-flex-middle fw-mb-20">
      <a href="#" class="author__thumbnail fw-mr-20"><img class="fw-brp-50" src="http://placehold.it/50x50" alt=""></a>
      <p class="author__name">Золушка project блог</p>
    </div>
    <h4 class="panel-section__title fw-fz-16 fw-text-600">Как доставить удовольствие в постели мужчине?</h4>
  </div>
  <div class="panel-section__content">
    <div class="fw-fz-0"><img src="http://placehold.it/610x360" class="panel-section-blog__thumbnail fw-width-1-1"></div>
    <p class="panel-section-blog__excerpt fw-pt-15 fw-pb-15 fw-pl-20 fw-pr-20 fw-lh-1-5">Женщины, знающие, как доставить мужчине удовольствие в постели, возносятся на
      Олимп мужского восхищения, потому что качественно удовлетворить партнера может далеко не каждая. Читать дальше</p>
  </div>
  <div class="fw-bg-light">
    <a routerLink="/blog"
       class="fw-flex fw-flex-center fw-color-purple fw-fw-600 fw-pt-15 fw-pb-15">Смотреть все</a>
  </div>
  <app-preloader *ngIf="preloader"></app-preloader>
</article>