<div class="page-section">
    <div class="container">
        <div class="fw-grid fw-grid-30">
            <div class="fw-width-2-3">
                <section class="panel-section fw-box-shadow fw-br-5">
                    <div class="panel-section__header fw-padding-20">
                        <h4 class="panel-section__title panel-section__title--badge fw-fz-16 fw-text-600" data-badge="11">Поситители</h4>
                        <p class="panel-section__text fw-mt-10">И чего ты ждешь? Девушка посмотрела твою анкету - считай
                            что она уже готова прыгнуть к тебе в кровать! Обсуди условия и вперед! Напиши ей!</p>
                    </div>
                    <div class="panel-section__content">
                        <app-chat-list></app-chat-list>
                    </div>
                    <div class="panel-section__footer">
                        <a href="#" class="panel-section__btn">Смотреть всех</a>
                    </div>
                </section>
            </div>
            <div class="fw-width-1-3">
                <article class="panel-box panel-box--rounded fw-box-shadow fw-padding-20 fw-mb-30 fw-br-5">
                    <p class="panel-box__title fw-mb-30 fw-fz-24">Просмотры вашей анкеты</p>
                    <div class="fw-text-center fw-mb-30">
                        <img src="./assets/images/visits-image.png" class="fw-width-260">
                    </div>
                    <p class="fw-mb-30 fw-fz-16 fw-text-600">Увеличьте свою популярность, подняв анкету на первое место в
                        результатах поиска!</p>
                    <div>
                        <a href="#" class="button button--primary fw-width-1-1">Поднять анкету</a>
                    </div>
                </article>

                <article class="fw-box-shadow fw-br-5">
                    <div class="profile__invisible fw-br-5">
                        <div class="fw-mb-20">
                            <i class="icon-invisible-hat"></i>
                        </div>
                        <div class="profile__invisible-content fw-mb-30">
                            Вы находитесь в режиме онлайн и другие пользователи видят, что вы на сайте. Вы
                            можете включить режим невидимки и абсолютно анонимно находится на сайте
                        </div>
                        <div>
                            <a href="#" class="profile__invisible-link">Стать невидимкой</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>