<!-- .footer -->
<footer class="footer fw-pt-15 fw-pb-15">
  <div class="container">
    <div class="fw-flex fw-flex-space-between fw-pt-20 fw-pb-20 fw-flex-middle">
      <div class="fw-flex-grow">
        <ul class="fw-flex fw-color-blue">
          <li class="fw-mr-20"><a href="#" class="fw-text-underline--hover">О проекте</a></li>
          <li class="fw-mr-20"><a href="#" class="fw-text-underline--hover">Блог</a></li>
          <li class="fw-mr-20"><a href="#" class="fw-text-underline--hover">Города</a></li>
          <li class="fw-mr-20"><a href="#" class="fw-text-underline--hover">Часто задаваемые вопросы</a></li>
          <li><a href="#" class="fw-text-underline--hover">Условияиспользования</a></li>
        </ul>
      </div>
      <div class="fw-flex-shrink-no fw-ml-20">
        <a href="#" class="fw-br-5 fw-bg-white fw-flex fw-fz-13 fw-pt-10 fw-pb-10 fw-pl-10 fw-pr-10 fw-bg-blue-light-hover fw-color-blue fw-transition fw-flex-middle">
          <div class="fw-flex-shrink-no fw-mr-10">
            <i class="icon-confidentiality"></i>
          </div>
          <div class="fw-flex-grow">
            <p class="fw-fz-10">Конфиденциальность</p>
            <p>и безопасность</p>
          </div>
        </a>
      </div>
    </div>
    <div class="fw-flex fw-flex-space-between fw-pt-20 fw-pb-20 fw-flex-middle">
      <div class="fw-flex-grow fw-fz-13 fw-color-dark fw-lh-1-7">
        <p>&copy; «Золушка project». Лучший on-line сервис по поиску спонсоров и содержанок, 2015-2017</p>
        <p>Администрация не несёт ответственности за размещённые анкеты - вся информация на сайте предоставлена посетителями.</p>
      </div>
      <div class="fw-flex-shrink-no fw-ml-20">
        <app-socials-circle-list></app-socials-circle-list>
      </div>
    </div>
    <div class="fw-pt-10 fw-pb-10">
      <app-select-box [multiple]="true" [iconClass]="'icon-form-triangle'" [name]="'select_multiple'" [items]="[{label: 'Multiple select choose', text: 'Clear multiple select', selected: false, value: 0}, {label: 'option 2', selected: false, value: 1}, {label: 'option 3', selected: false, value: 2}]"></app-select-box>
    </div>
  </div>
</footer><!-- .footer end -->
