<div class="blog-item fw-flex panel-section" routerLink="/blog/slug">
  <div class="blog-item__header fw-flex fw-flex-start fw-flex-space-between">
    <div>
      <div class="fw-mr-15">
        <a href="#" class="blog-item__header-link fw-fw-600 fw-fz-16">
          Как доставить удовольствие в постели мужчине?
        </a>
      </div>
      <div class="blog-item__meta fw-flex fw-flex-middle">
        <a class="fw-color-grey fw-text-underline--hover fw-inline-block fw-mr-15">Золушка project блог</a>
        <div class="blog-item__data fw-mr-15">18.01.2017</div>
        <div class="fw-flex fw-flex-middle fw-flex fw-flex-middle">
          <div class="fw-mr-10">
            <i class="icon-profile-views"></i> <span>99</span>
          </div>
          <div>
            <i class="icon-profile-comments"></i> <span>98</span>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-item__avatar">
      <img alt="" class="blog-item__image" src="http://placehold.it/50x50"/>
    </div>
  </div>
  <div class="blog-item__thumbnail">
    <img class="fw-width-1-1" alt="" src="http://placehold.it/555x361"/>
  </div>
  <div class="blog-item__content">
    Женщины, знающие, как доставить мужчине удовольствие в постели, возносятся на Олимп мужского восхищения, потому что качественно удовлетворить партнера может далеко не каждая.
  </div>
</div>