<!-- .header -->
<header
  class="{{(expanded && !logged) ? 'fw-bg-center fw-bg-cover fw-bg-no-repeat' : ''}}{{(!expanded && !logged) ? 'fw-bg-blue' : 'fw-bg-white'}}
  {{(!logged ? ' fw-color-white' : ' fw-color-dark')}} fw-pt-20 fw-pb-20"
  [ngStyle]="(expanded && !logged) ? {'background-image': 'url(/assets/images/header-bg.jpg)'} : ''">

  <div class="container">
    <div class="fw-flex fw-flex-space-between fw-flex-middle">
      <div class="fw-flex-grow fw-flex">
        <a routerLink="/">
          <img src="/assets/images/logo{{(logged && !expanded) ? '-logged' : ''}}.svg" alt="" class="fw-mr-35">
        </a>
        <div class="fw-flex fw-flex-middle fw-pt-6 fw-pb-6 fw-pr-12 fw-pl-12 fw-bw-1 fw-bc-white fw-br-5 fw-bw-1 fw-bs-solid fw-br-5 fw-bc-grey-dark" *ngIf="logged && !expanded">
          <p class="fw-fz-10 fw-fw-300 fw-text-uppercase fw-mr-20 fw-color-grey-dark">Установить <br>приложение</p>
          <a href="#" class="fw-mr-15"><i class="icon-appstore-grey"></i></a>
          <a href="#"><i class="icon-googleplay-grey"></i></a>
        </div>
        <div class="fw-flex fw-flex-middle fw-pt-6 fw-pb-6 fw-pr-12 fw-pl-12 fw-bw-1 fw-bc-white fw-br-5 fw-bw-1 fw-bs-solid fw-br-5 fw-bc-white mr" *ngIf="!logged">
          <p class="fw-fz-10 fw-fw-300 fw-text-uppercase fw-mr-20">Установить <br>приложение</p>
          <a href="#" class="fw-mr-15"><i class="icon-appstore-white"></i></a>
          <a href="#"><i class="icon-googleplay-white"></i></a>
        </div>
        <div class="fw-flex fw-flex-middle fw-pl-20">
          <ul class="header-menu__list fw-flex fw-flex-middle">
            <li class="header-menu__item fw-pr-12">
              <a routerLink="search" routerLinkActive="active" class="">Поиск</a>
            </li>
            <li class="header-menu__item fw-pr-12 fw-pl-12">
              <a routerLink="about" class="">О проекте</a>
            </li>
            <li class="header-menu__item fw-pl-12">
              <a routerLink="blog" class="">Блог</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="fw-flex-shrink-no fw-ml-20 fw-flex fw-flex-middle" *ngIf="logged && !expanded">
        <p class="fw-color-dark fw-flex fw-flex-middle fw-mr-15"><span class="fw-mr-5">Осталось минут</span> <span class="fw-br-50 fw-lh-24 fw-pl-4 fw-pr-4 fw-bc-blue fw-bw-1 fw-bs-solid fw-bc-purple-dark fw-color-purple-dark"> {{user_info['minutesAmount']}} </span></p>
        <p class="fw-color-dark fw-flex fw-flex-middle fw-mr-15"><span class="fw-mr-5">Осталось контактов</span> <span class="fw-br-50 fw-lh-24 fw-pl-4 fw-pr-4 fw-bc-blue fw-bw-1 fw-bs-solid fw-bc-purple-dark fw-color-purple-dark"> {{user_info['contactsAmount']}} </span></p>
        <p class="fw-color-dark fw-flex fw-flex-middle"><span class="fw-mr-5">Место в поиске</span> <span class="fw-br-50 fw-lh-24 fw-pl-4 fw-pr-4 fw-bc-blue fw-bw-1 fw-bs-solid fw-bc-purple-dark fw-color-purple-dark"> {{user_info['searchPlace']}}1 </span></p>
      </div>
      <div class="fw-flex-shrink-no fw-ml-20" *ngIf="!logged">
        <a class="fw-text-underline--hover fw-mr-30" (click)="callPopup('login')">Вход</a>
        <a routerLink="registration" class="button button--transparent fw-mr-15"><span class="button--transparent__text">Регистрация</span></a>
        <a href="#" class="button button--transparent"><span class="button--transparent__text">Руский</span></a>
      </div>
    </div>
    <div *ngIf='expanded' class="fw-flex fw-flex-space-between fw-flex-middle fw-mt-20">
      <div class="fw-flex-grow-0">
        <p class="fw-fz-26 fw-fw-300 fw-ls-less-5">Лучший on-line сервис по поиску <br> содержанок и спонсоров</p>
      </div>
      <div class="fw-flex-grow-0 fw-flex fw-ml-20">
        <p class="fw-flex-shrink-no fw-badge"><span class="fw-badge__text">1</span><i class="icon-gift-big-white"></i></p>
        <p class="fw-flex-grow fw-ml-20">Дарим 36 часов премиум доступа <br> Всем мужчинам прошедшим регистрацию</p>
      </div>
    </div>

    <app-search-bar [widget]="true" [classes]="'fw-mt-50'" *ngIf="expanded"></app-search-bar>
  </div>
</header><!-- .header end -->

<app-navigation *ngIf="logged" [user_info]="user_info"></app-navigation>