<app-search-bar (onSubmitSearchBar)="searchUsersQuery($event)"></app-search-bar>

<section class="catalog fw-pt-20 fw-pb-20">
  <div class="container" *ngIf="!!users._embedded">
    <div class="catalog__header">
      <div class="catalog__header-filter">
        <a class="catalog__header-filter-link" [ngClass]="{'active': filter === 'all'}" (click)="changeFilter('all')">Все</a>
        <a class="catalog__header-filter-link" [ngClass]="{'active': filter === 'newDays'}" (click)="changeFilter('newDays')">Новые</a>
        <a class="catalog__header-filter-link" [ngClass]="{'active': filter === 'online'}" (click)="changeFilter('online')">Онлайн</a>
        <a class="catalog__header-filter-link" [ngClass]="{'active': filter === 'realPhoto'}" (click)="changeFilter('realPhoto')">С реальным фото</a>
      </div>
      <div class="catalog__header-type fw-flex fw-flex-middle">
        <span class="catalog__header-type-link fw-mr-10"
              (click)="switchGridType(true)" [ngClass]="{'active': gridType}">
            <i class="icon-catalog-grid"></i>
            <i class="icon-catalog-grid-active fw-hidden"></i>
        </span>
        <span class="catalog__header-type-link"
              (click)="switchGridType(false)" [ngClass]="{'active': !gridType}">
            <i class="icon-catalog-listing"></i>
            <i class="icon-catalog-listing-active fw-hidden"></i>
        </span>
      </div>
    </div>
    <div class="fw-position-relative">
      <div class="fw-grid fw-grid-30" *ngIf="!!users._embedded">
        <div [ngClass]="{'fw-width-1-3': gridType, 'fw-width-1-2': !gridType}" *ngFor="let user of users._embedded.clientCard">
          <app-user-cart class="the-user-cart" [user]="user" [gridType]="gridType" [ngClass]="{'the-user-cart--animated': user._animated}"></app-user-cart>
        </div>
        <app-preloader *ngIf="preloaders.userGrid"></app-preloader>
      </div>
    </div>
    <div class="fw-mt-30">
      <app-pagination [pagination]="users"></app-pagination>
    </div>
  </div>

  <div class="fw-position-relative" *ngIf="!firstLoad">
    <app-preloader *ngIf="preloaders.userGrid"></app-preloader>
    <div class="catalog__placeholder fw-text-center fw-mt-50" *ngIf="!users._embedded">
      <div class="fw-mb-15">
        <i class="icon-catalog-geo-placeholder"></i>
      </div>
      <div>
        Пользователей в вашем городе не найдено, показаны девушки из ближайших городов <br>
        <a class="fw-color-purple fw-text-underline--hover">Москва</a>, <a
          class="fw-color-purple fw-text-underline--hover">Санкт-Петербург</a>, <a
          class="fw-color-purple fw-text-underline--hover">Нижний-Новогород</a>
      </div>
    </div>

    <div class="catalog__placeholder fw-text-center fw-mt-50" *ngIf="!users._embedded">
      <div class="fw-mb-15">
        <i class="icon-catalog-search-placeholder"></i>
      </div>
      <div class="fw-mb-20">
        К сожалению, по заданным параметрам мы не нашли ни одного пользователя, <br>по пробуйте расширить критерии
        поиска.
      </div>
      <div>
        <a routerLink="/search" class="button button--empty">Сбросить поисковые параметры</a>
      </div>
    </div>
  </div>
</section>
