<app-search-bar (onSubmitSearchBar)="searchUsersQuery($event)"></app-search-bar>

<section class="fw-pt-20 fw-pb-20">
  <div class="container">
    <div class="catalog__header">
      <div class="catalog__header-filter">
        <a class="catalog__header-filter-link active">Все</a>
        <a class="catalog__header-filter-link">Новые</a>
        <a class="catalog__header-filter-link">Онлайн</a>
        <a class="catalog__header-filter-link">С реальным фото</a>
      </div>
      <div class="catalog__header-type fw-flex fw-flex-middle">
        <span class="catalog__header-type-link fw-mr-10"
              (click)="switchGridType(true)" [ngClass]="{'active': gridType}">
            <i class="icon-catalog-grid"></i>
            <i class="icon-catalog-grid-active fw-hidden"></i>
        </span>
        <span class="catalog__header-type-link"
              (click)="switchGridType(false)" [ngClass]="{'active': !gridType}">
            <i class="icon-catalog-listing"></i>
            <i class="icon-catalog-listing-active fw-hidden"></i>
        </span>
      </div>
    </div>
    <div class="fw-position-relative">
      <div class="fw-grid fw-grid-30" *ngIf="!!users._embedded">
        <div [ngClass]="{'fw-width-1-3': gridType, 'fw-width-1-2': !gridType}" *ngFor="let user of users._embedded.clientCard">
          <app-user-cart [user]="user" [gridType]="gridType"></app-user-cart>
        </div>
        <app-preloader *ngIf="preloaders.userGrid"></app-preloader>
      </div>
    </div>
    <div class="fw-mt-30">
      <app-pagination [pagination]="users"></app-pagination>
    </div>
  </div>
</section>
