<app-popup-login *ngIf="popups.login" [visible]="popups.login"></app-popup-login>
<app-popup-chat *ngIf="popups.chat" [visible]="popups.chat"></app-popup-chat>
<app-popup-notice-confirmed-photos *ngIf="popups.buyConfirmedPhotos" [visible]="popups.buyConfirmedPhotos"></app-popup-notice-confirmed-photos>
<app-popup-reg-before-filter-by-online *ngIf="popups.regBeforeFilterByOnline" [visible]="popups.regBeforeFilterByOnline"></app-popup-reg-before-filter-by-online>
<app-popup-reg-before-filter-by-real-photo *ngIf="popups.regBeforeFilterByRealPhoto" [visible]="popups.regBeforeFilterByRealPhoto"></app-popup-reg-before-filter-by-real-photo>
<app-popup-confirm-photo *ngIf="popups.confirmPhoto" [visible]="popups.confirmPhoto"></app-popup-confirm-photo>
<app-popup-reg-to-dialog *ngIf="popups.regToDialog" [visible]="popups.regToDialog"></app-popup-reg-to-dialog>