<section class="fw-pt-40 fw-pb-20">
    <div class="container">
        <p class="fw-fz-24 fw-text-center fw-mb-20">Бесплатная регистрация</p>
        <div class="fw-grid fw-grid-15">
            <div class="fw-width-1-2">
                <p class="fw-fz-14">Регистрация на портале – это быстрый способ найти партнера для серьездных или легких
                    увлечений.</p>
                <p class="fw-fz-14 fw-mt-20">Зарегистрировавшись вы получаете доступ анкетам лучших Золушек рунета, с
                    проверенными фото, а так же возможность следить за активностью других посетителей, отправлять
                    сообщения, совершать анонимные звонки и делать рассылки</p>
                <div class="fw-mt-40">
                    <app-panel-gift></app-panel-gift>
                </div>
            </div>
            <div class="fw-width-1-2">
                <form (ngSubmit)="userRegister($event)">
                    <div class="fw-mb-10">
                        <app-input-box [placeholder]="'E-mail'" [error]="!!errors['email']" [type]="'email'" [classes]="'fw-br-3'" [name]="'email'" (updateState)="updateState($event)"></app-input-box>

                        <div class="fw-error-message fw-color-red fw-mt-5" *ngIf="!!errors['email']">{{errors['email']}}</div>
                    </div>
                    <div class="fw-mb-10">
                        <app-input-box [placeholder]="'Придумайте пароль'" [error]="!!errors['password']" [type]="'password'" [classes]="'fw-br-3'"
                                       [name]="'password'" (updateState)="updateState($event)"></app-input-box>

                        <div class="fw-error-message fw-color-red fw-mt-5" *ngIf="!!errors['password']">{{errors['password']}}</div>
                    </div>
                    <div class="fw-mb-10">
                        <app-input-box [placeholder]="'Имя'" [classes]="'fw-br-3'" [error]="!!errors['name']" [name]="'name'" (updateState)="updateState($event)"></app-input-box>
                        <div class="fw-error-message fw-color-red fw-mt-5" *ngIf="!!errors['name']">{{errors['name']}}</div>
                    </div>
                    <div class="fw-mb-10">
                        <app-select-search-box [classes]="'search-bar__select-search-box'" (search)="getLocations($event)" [name]="'city'" [placeholder]="'Город'" [iconClass]="'icon-form-navigator'" [items]="locations" (updateState)="updateState($event)"></app-select-search-box>
                        <div class="fw-error-message fw-color-red fw-mt-5" *ngIf="!!errors['city']">{{errors['city']}}</div>
                    </div>
                    <div class="fw-mb-10">
                        <app-radio-box-label [fullWidth]="true" [combined]="true" [name]="'type'" [items]="type_picker" (updateState)="updateState($event)"></app-radio-box-label>
                        <div class="fw-error-message fw-color-red fw-mt-5" *ngIf="!!errors['type']">{{errors['type']}}</div>
                    </div>
                    <div class="fw-mb-10 fw-grid fw-grid-15">
                        <div class="fw-width-1-3">
                            <app-select-box [iconClass]="'icon-form-triangle'" [name]="'birth_date'" [items]="form_birth_date" (updateState)="updateState($event)"></app-select-box>
                            <div class="fw-error-message fw-color-red fw-mt-5 fw-width-1-1" *ngIf="!!errors['birth_date']">{{errors['birth_date']}}</div>
                        </div>
                        <div class="fw-width-1-3">
                            <app-select-box [iconClass]="'icon-form-triangle'" [name]="'birth_month'" [items]="form_birth_month" (updateState)="updateState($event)"></app-select-box>
                            <div class="fw-error-message fw-color-red fw-mt-5 fw-width-1-1" *ngIf="!!errors['birth_month']">{{errors['birth_month']}}</div>
                        </div>
                        <div class="fw-width-1-3">
                            <app-select-box [iconClass]="'icon-form-triangle'" [name]="'birth_year'" [items]="form_birth_year" (updateState)="updateState($event)"></app-select-box>
                            <div class="fw-error-message fw-color-red fw-mt-5 fw-width-1-1" *ngIf="!!errors['birth_year']">{{errors['birth_year']}}</div>
                        </div>
                    </div>
                    <div class="fw-mt-15">
                        <button type="submit" class="button button--primary fw-width-1-1">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="fw-text-center fw-mt-35">
            <div><a href="#" class="fw-mr-5 link link--purple">Забыли пароль?</a> <a href="#" class="link link--purple">Войти</a>
            </div>
            <p>Продолжая, Вы принимаете условия <a href="#" class="link link--purple">пользовательского соглашения</a>,
                правила, а также подтверждаете что Вам есть 18 лет.</p>
        </div>
    </div>
</section>
<hr class="hr">