<div class="blog page-section">
  <div class="container">
    <div class="blog-container fw-grid fw-grid-30">
      <div class="blog-article blog-item fw-width-2-3">
        <div class="blog-article__header no-padding fw-mb-20 fw-flex fw-flex-start fw-flex-space-between">
          <div>
            <div class="fw-mr-15 blog-article__title fw-mb-30">
              Как доставить удовольствие в постели мужчине?
            </div>
            <div class="blog-item__meta fw-flex fw-flex-middle">
              <a href="#" class="fw-color-purple-dark fw-inline-block fw-mr-15 fw-text-underline--hover">Золушка project
                блог</a>
              <div class="blog-item__data fw-mr-15">18.01.2017</div>
              <div class="fw-flex fw-flex-middle fw-flex fw-flex-middle">
                <div class="fw-mr-10">
                  <i class="icon-profile-views"></i> <span>99</span>
                </div>
                <div>
                  <i class="icon-profile-comments"></i> <span>98</span>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-item__avatar">
            <img alt="" class="blog-item__image" src="http://placehold.it/50x50"/>
          </div>
        </div>
        <div class="blog-article__thumbnail fw-mb-20">
          <img class="fw-width-1-1" alt="" src="http://placehold.it/555x361"/>
        </div>
        <div class="blog-article__content page-content-area fw-mb-20">
          <p>Интим без обязательств: зачем к нему стремятся мужчины, и почему легко соглашаются женщины,
            какие
            есть правила для обоих партнеров, и где искать друг друга для секса?</p>

          <p>Знакомства без обязательств в Москве – это не просто дань сегодняшней моде или ежедневное
            средство от серости и скуки, это современный стиль жизни успешных, не привыкших к отказам
            мужчин
            и разных женщин, преследующих свои цели.</p>

          <h2>Зачем интим без обязательств девушкам?</h2>

          <p>Если мужчинам такие девушки для секса нужны только для того, чтобы насладиться ее телом и
            удовлетворить свои инстинкты, то на кону у женщин немного другие задачи. Девушки вступают в
            такую связь по нескольким причинам.</p>

          <ol>
            <li>Легкий заработок. Он действительно легкий, потому что не требует никаких усилий и
              доставляет удовольствие поездкой на машине бизнес класса, дорогим ужином в ресторане и
              шикарным гостиничным номером
            </li>
            <li>Желание изменять мужу, но не с постоянным спутником. Это роковые женщины, которые в
              постели и сами полностью отдаются, и каждый раз стараются получить максимальное
              наслаждение.
            </li>
            <li>Стечение обстоятельств. Случайное знакомство. Такие встречи чаще случаются в клубах,
              где в эйфории девушки часто даже не помнят, с кем они занимаются сексом. Удовлетворение
              получает только мужчина.
            </li>
            <li>Скука. Желание чем-то разнообразить свою жизнь, ни к кому не привязываясь. Просто чтобы
              получить какой-то интерес в обыденном существовании до следующего раза.
            </li>
          </ol>

          <p>Мужчин интересуют такие женщины только для интима. Это просто оправдание, что «так случайно
            получилось» или «у меня жена, я ее люблю, и это было всего один раз». Все гораздо проще:
            каждый мужчина – это завоеватель и самец. Ему нужна добыча и очень часто – добыча легкая и
            быстрая.</p>

          <p>У них нет времени на долгие ухаживания, переписку и прогулки под звездами. Погулять он может
            с женой. А девушки для секса без обязательств нужны только для сиюминутного желания,
            обезбашенного секса с незнакомкой и удовлетворения животной первобытной страсти.</p>
        </div>
        <div class="blog-article__share fw-flex fw-flex-middle fw-mb-30">
          <div class="fw-fw-600 fw-fz-15 fw-mr-15">
            Поделись:
          </div>
          <div class="blog-article__social">
            <app-socials-circle-list></app-socials-circle-list>
          </div>
        </div>

        <div class="read-also">
          <div class="read-also__title fw-fw-600 fw-fz-16 fw-mb-20">
            Читайте также:
          </div>
          <div class="read-also__carousel-wrapper">
            <owl-carousel [items]="[1,1,1,1,1,1,1,1,1]" [options]="{margin: 30, items: 2, nav: true}" class="read-also__carousel fw-block">
              <div class="read-also__item fw-text-center" *ngFor="let more of [1,1,1,1,1,1,1,1,1]">
                <div class="read-also__item-image fw-mb-15">
                  <img class="fw-width-1-1" alt="" src="http://placehold.it/300x200"/>
                </div>
                <div class="fw-fw-600 fw-fz-16">
                  Любовница для замужнего мужчины
                </div>
              </div>
            </owl-carousel>
          </div>
        </div>

        <app-comments></app-comments>
      </div>
      <div class="blog-sidebar fw-width-1-3">
        <article class="panel-section">
          <div class="panel-section__header">
            <div class="panel-section__title">&nbsp;</div>
            <div class="panel-top-bookmark-placeholder">
              <i class="icon-top-female-badge"></i>
            </div>
          </div>
          <div class="panel-section__content">
            <div class="grid-panel-users fw-grid fw-grid-12">
              <!--{% for i in 1..3 %}-->
              <div class="fw-width-1-3" *ngFor="let userCart of [{},{},{}]">
                <!--<app-user-cart [small]="true" [user]="userCart"></app-user-cart>-->
              </div>
              <!--{% endfor %}-->
            </div>
          </div>
          <div class="panel-section__footer">
            <a href="#" class="panel-section__btn">Смотреть все</a>
          </div>
        </article>
        <article class="panel-section">
          <div class="panel-section__header">
            <div class="panel-section__title">Недавние статьи</div>
          </div>
          <div class="panel-section__content">
            <ul class="latest-articles-list">
              <li class="latest-articles-item fw-mb-15">
                <a href="#" class="latest-articles-link fw-fw-600">
                  Любовница для замужнего мужчины
                </a>
              </li>
              <li class="latest-articles-item fw-mb-15">
                <a href="#" class="latest-articles-link fw-fw-600">
                  Любовница для замужнего мужчины
                </a>
              </li>
              <li class="latest-articles-item fw-mb-15">
                <a href="#" class="latest-articles-link fw-fw-600">
                  Любовница для замужнего мужчины
                </a>
              </li>
              <li class="latest-articles-item fw-mb-15">
                <a href="#" class="latest-articles-link fw-fw-600">
                  Любовница для замужнего мужчины
                </a>
              </li>
            </ul>
          </div>
          <div class="panel-section__footer">
            <a href="#" class="panel-section__btn">Перейти в рубрику</a>
          </div>
        </article>
        <article class="panel-section">
          <div class="panel-section__header">
            <div class="panel-section__title">Рубрики</div>
          </div>
          <div class="panel-section__content">
            <div class="sidebar-categories__list in-pannel fw-flex fw-flex-wrap fw-flex-middle">
              <!--{% for i in 1..13 %}-->
              <div class="sidebar-categories__item" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
                <a href="#" class="checkbox-box-label"><span>Игрушки</span></a>
              </div>
              <!--{% endfor %}-->
            </div>
          </div>
          <div class="panel-section__footer">
            <a href="#" class="panel-section__btn">Перейти в рубрику</a>
          </div>
        </article>
        <article class="panel-section">
          <div class="panel-section__header">
            <div class="panel-section__title">Подписаться на новые статьи</div>
          </div>
          <div class="panel-section__content">
            <form action="#" class="panel-subscribe-form fw-mb-20">
              <div class="fw-mb-10">
                <app-input-box [placeholder]="'Ваш Email'"></app-input-box>
              </div>
              <div>
                <button class="button button--primary fw-width-1-1">Подписаться</button>
              </div>
            </form>
          </div>
          <div class="panel-section__footer">
            <a href="#" class="panel-section__btn">Перейти в рубрику</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>