<div class="select-search-box">
  <p (click)="callSelectSearch($event)">
    <input name="{{name}}" type="text" value="{{selectSearchBoxText}}" placeholder="{{placeholder}}" (keyup)="onKeyUp($event)">
    <i class="{{iconClass}}"></i>
  </p>
  <div>
    <ul *ngIf="filteredItems.length">
      <li *ngFor="let item of filteredItems; let i = index">
        <a href="#" (click)="markSelect($event, i)">
          <span>{{item.label}}</span>
          <span>{{item.labelInfo}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>