@import "../../../sass/colors"
@import "../../../sass/mixins/mixins"
@import "../../../sass/z-indexes"

.search-bar
  color: $colorDark
  background-color: $colorLight
  width: 100%
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3)
  position: relative
  z-index: $z-index-search-bar

  &.search-bar--widget
    border-radius: 5px

    > *
      padding: 0 15px

    .search-bar__content
      border-radius: 0 0 5px 5px

  &.search-bar--active
    .search-bar__header
      border-radius: 0

    .search-bar__content
      max-height: 1000px
      transition: all .8s linear

    .search-bar__extend
      > span::after
        opacity: 0

  .search-bar__header
    height: 60px
    display: flex
    align-items: center

    > div
      height: 100%
      display: flex
      align-items: center
      padding: 0 12px
      min-width: 0
      flex-shrink: 0

      > *
        flex-grow: 1

      &:not(:nth-child(3)),
      &:not(:nth-child(4))
        flex-shrink: 0
        flex-grow: 0

      &:nth-child(3),
      &:nth-child(4)
        flex-grow: 1
        flex-shrink: 0
        flex-basis: 0

      &:first-child
        padding: 0 12px 0 0

      &:last-child
        padding: 0 0 0 12px

      &:not(:last-child)
        border-right: 1px solid $colorGreyLight

  .search-bar__content
    //padding: 0 15px
    max-height: 0
    box-sizing: border-box
    position: relative
    overflow: hidden
    transition: all .5s cubic-bezier(0, 0, 0, 1)

    &::before
      position: absolute
      bottom: calc(100% - 1px)
      left: 0
      width: 100%
      height: 1px
      background-color: $colorGreyLight
      display: block
      content: ''

  .search-bar__grid
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-left: -30px
    align-items: flex-start
    //margin-bottom: -15px
    padding-top: 20px

    + .search-bar__grid
      padding-bottom: 5px
      padding-top: 0

    > *
      flex-basis: 25%
      padding-left: 30px
      flex-shrink: 0
      margin-bottom: 15px
      min-width: 0

      @media screen and (max-width: 1144px)
        flex-basis: 33.3%

    > .search-bar__saved-parameters
      flex-basis: 50%
      padding-top: 7px
      margin-bottom: 0

  .search-bar__extend
    font-weight: 600
    position: relative
    padding-right: 23px

    > span
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 0
      width: 18px
      height: 18px
      background-color: $colorPurple
      box-shadow: 0 1px 3px 0 $colorViolet, inset 0 0 1px 0 rgba(0, 0, 0, 0.07)
      border-radius: 50%

      &::before,
      &::after
        position: absolute
        background-color: $colorLight
        left: 50%
        top: 50%
        transform: translateY(-50%) translateX(-50%)
        display: block
        content: ''
        transition: all .3s ease-in-out
        opacity: 1

      &::before
        width: calc(100% - 8px)
        height: 2px

      &::after
        width: 2px
        height: calc(100% - 8px)

  .search-bar__dropdown
    .dropdown__content

      &.dropdown__content--right
        left: initial
        right: -15px

      &.dropdown__content--left
        left: -15px
        right: initial

      > div
        margin-top: 30px
        border-radius: 5px

  .search-bar__select-box
    .select-box__content

      &.select-box__content--right
        left: initial
        right: -15px

      &.select-box__content--left
        left: -15px
        right: initial

      > ul
        margin-top: 20px
        border-radius: 5px

  .search-bar__select-search-box
    .select-search-box__content

      &.select-search-box__content--right
        left: initial
        right: -15px

      &.select-search-box__content--left
        left: -15px
        right: initial

      > ul
        margin-top: 20px
        border-radius: 5px

.search-bar__dropdown-wrapper, .custom-ion-slider
  .dropdown
    align-self: stretch
    align-items: center
    display: flex

  .irs
    height: 13px

  .irs-line, .irs-bar
    background: #CCC
    height: 2px
    top: 6px

    & > *
      background: none
    
  .irs-bar
    background: #bd0fe1

  .irs-slider
    width: 13px
    height: 13px
    background: linear-gradient(to top,#a149a9,#c732d4)
    box-shadow: 0 1px 3px 0 rgba(165,85,172,.6), inset 0 0 1px 0 rgba(0,0,0,.07)
    border: none
    border-radius: 50%
    top: 0

  .dropdown.dropdown--active
    .search--dark-focus-input
      background-color: rgba(#d2d1dd,0.3)
      box-shadow: 0 5px 0 rgba(#d2d1dd,0.3), 0 -5px 0 rgba(#d2d1dd,0.3)

.search-bar__dropdown-wrapper
  .dropdown.dropdown--active
    .choose_age__number
      background-color: rgba(#d2d1dd, .67)

.search-nav__choose_age
  &.choose_age
    .choose_age__number
      font-size: 14px
      +transition()
      font-family: 'open-sans', sans-serif
      font-weight: 600
      color: #b7b6be
      box-sizing: border-box
      padding: 2px 2px 4px 2px

    .choose_age__text
      font-size: 14px
      font-family: 'open-sans', sans-serif
      font-weight: 600
      color: #808080
      margin: 0 2px
      
.search-bar__locked-search
  position: absolute
  top: 1px
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(#f3f3f3, 0.8)
  z-index: 1
  
.saved-parameters
  text-align: left

.saved-parameters__item
  border-radius: 30px
  line-height: 26px
  color: #fff
  background-color: #443a91
  display: inline-block
  vertical-align: middle
  padding: 0 10px 0 25px
  position: relative
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 #443A91
  cursor: pointer

  .icon-remove-saved-params
    position: absolute
    left: 6px
    top: 50%
    width: 12px
    height: 12px
    display: block
    +transform(translate(0, -50%) rotate(45deg))

    &:after, &:before
      position: absolute
      content: ''
      display: block
      width: 100%
      height: 2px
      left: 50%
      top: 50%
      +transform(translate(-50%, -50%))
      background-color: #fff

    &:before
      width: 2px
      height: 100%

.search-bar__left-buttons
  line-height: 40px