<form class="search-bar{{(widget) ? ' search-bar--widget' : ''}}{{(classes.length) ? ' ' + classes : ''}}" (submit)="searchProfiles($event)">
  <div class="{{(!widget) ? 'container': ''}}">
    <div class="search-bar__header">
      <div>
        <p>Ищу</p>
      </div>
      <div>
        <div class="fw-pt-10 fw-pb-10">
          <app-radio-box [name]="'radio'" [items]="[{label: 'Мужчину', checked: true, value: 1}, {label: 'Женщину', checked: false, value: 2}]"></app-radio-box>
        </div>
      </div>
      <div>
        <app-select-search-box [classes]="'search-bar__select-search-box'" (search)="getLocations($event)" [name]="'location'" [placeholder]="'Выберите город'" [iconClass]="'icon-form-navigator'" [items]="locations"></app-select-search-box>
      </div>
      <div>
        <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes" [classes]="'search-bar__select-box'"></app-select-box>
      </div>
      <div>
          <app-dropdown [classes]="'search-bar__dropdown'">
            This is dropdown content
          </app-dropdown>
      </div>
      <div>
        <a href="#" class="search-bar__extend" (click)="searchBarToggle($event)">Все параметры<span></span></a>
      </div>
      <div>
        <button type="submit" class="button button--primary">Найти</button>
      </div>
    </div>
    <div class="search-bar__content">
      <div class="search-bar__content-inner">
        <div class="search-bar__grid">
          <div><app-input-box [placeholder]="'Рост от 170 - до 190'" [tooltip]="'см'"></app-input-box></div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
          <div>
            <div class="fw-grid fw-grid-12">
              <div class="fw-width-1-2">
                <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box>
              </div>
              <div class="fw-width-1-2">
                <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box>
              </div>
            </div>
          </div>
          <div><app-input-box [placeholder]="'Вес от 50 - до 62'" [tooltip]="'кг'"></app-input-box></div>
          <div>
            <div class="fw-grid fw-grid-12">
              <div class="fw-width-1-2">
                <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box>
              </div>
              <div class="fw-width-1-2">
                <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box>
              </div>
            </div>
          </div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
          <div>
            <div class="fw-grid fw-grid-12">
              <div class="fw-width-1-2">
                <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box>
              </div>
              <div class="fw-width-1-2">
                <app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box>
              </div>
            </div>
          </div>
          <div><app-select-box [multiple]="true" [name]="'purposes'" [iconClass]="'icon-form-triangle'" [items]="purposes"></app-select-box></div>
        </div>
        <div class="search-bar__grid">
          <div class="fw-flex fw-flex-space-between">
            <a href="#" class="fw-fw-600 fw-fz-15 fw-flex fw-flex-middle"><i class="icon-shape-remove-purple fw-mr-5"></i>Сбросить</a>
            <a href="#" class="fw-fw-600 fw-fz-15 fw-flex fw-flex-middle"><i class="icon-shape-heart-purple fw-mr-5"></i>Сохранить поиск</a>
          </div>
          <div><button type="submit" class="button button--primary fw-width-1-1">Показать 133 анкеты</button></div>
        </div>
      </div>
    </div>
  </div>
</form>
