<div class="{{(fullWidth) ? ' radio-box-label-fullwidth' : ''}}">
  <div class="{{(!combined) ? 'radio-box-label' : 'radio-box-label-combined'}}
  {{(combinedStyle) ? ' radio-box-label-combined--style' : ''}}
  {{(classes.length) ? ' ' + classes : ''}}"
       *ngFor="let item of items">
    <label>
      <input type="radio" [(ngModel)]="inputValue" name="1" [checked]="item.checked" value="{{item.id}}" (change)="updateParent($event)">
      <span>{{item.title}}</span>
    </label>
  </div>
</div>
