<ul class="social-circle-list">
  <li class="social-circle-list__item"><a href="#" class="social-circle-list__link"><i class="icon-social-facebook-circle"></i></a></li>
  <li class="social-circle-list__item"><a href="#" class="social-circle-list__link"><i class="icon-social-vk-circle"></i></a></li>
  <li class="social-circle-list__item"><a href="#" class="social-circle-list__link"><i class="icon-social-instagram-circle"></i></a></li>
  <li class="social-circle-list__item"><a href="#" class="social-circle-list__link"><i class="icon-social-twitter-circle"></i></a></li>
  <li class="social-circle-list__item"><a href="#" class="social-circle-list__link"><i class="icon-social-google-plus-circle"></i></a></li>
  <li class="social-circle-list__item"><a href="#" class="social-circle-list__link"><i class="icon-social-youtube-circle"></i></a></li>
</ul>