<div class="profile-edit page-section">
    <div class="container">
        <div class="profile-edit__header fw-mb-30">
            <div class="profile-edit__title fw-fz-16 fw-fw-600 fw-mb-30">Мы рекомендуем заполнять актету подробно,
                чтобы девушкам нашего портала, было проще найти подходящую пару.
            </div>
            <div>
                <div class="fw-fz-15 fw-mb-5 fw-fw-600">Фотографии</div>
                <div class="fw-fz-13 fw-mb-20 profile-edit__descr">
                    На основном фото анкеты не допускается изображение фотографий откровенного содержания,
                    фотографии на которых не изображен владелец анкеты, а так же фотографии, скрыващеие более 1/3
                    лица
                </div>
                <div class="profile-edit__photos fw-grid fw-grid-8">
                    <div class="profile-edit__photos-item" *ngFor="let item of gallery">
                        <a href="#" class="profile-edit__photos-link">
                            <img class="profile-edit__photos-image" src="{{ item._links.thumbnail.href }}" alt="">
                        </a>
                        <span class="profile-edit__photos-main" *ngIf="item.isAvatar">Основная</span>
                    </div>
                    <div class="profile-edit__photos-item">
                        <label class="profile-edit__photos-add">
                            <i class="icon-camera-purple"></i>
                            <input type="file" multiple (change)="uploadPhoto($event)" class="fw-hidden">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="FProfile" (ngSubmit)="saveProfileData($event)" class="profile-edit__form">
            <div class="form-section">
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Имя
                    </div>
                    <div class="field-input">
                        <app-input-box formControlName="name" [placeholder]="'Ваше имя'"></app-input-box>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        День рождения
                    </div>
                    <div class="field-input" formGroupName="birthdate">
                        <div class="fw-grid fw-grid-12">
                            <div class="fw-width-1-3">
                                <app-select-box formControlName="day" [iconClass]="'icon-form-triangle'"
                                                [items]="enums['datePicker']['day']"></app-select-box>
                            </div>
                            <div class="fw-width-1-3">
                                <app-select-box formControlName="month" [iconClass]="'icon-form-triangle'"
                                                [items]="enums['datePicker']['month']"></app-select-box>
                            </div>
                            <div class="fw-width-1-3">
                                <app-select-box formControlName="year" [iconClass]="'icon-form-triangle'"
                                                [items]="enums['datePicker']['year']"></app-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-mb-30">
                    <div class="field-title">
                        О себе
                    </div>
                    <div class="field-input">
                        <div class="textarea-box">
                            <app-textarea-box formControlName="aboutMe"
                                              [placeholder]="'О себе'"></app-textarea-box>
                        </div>
                    </div>
                    <div class="field-note">
                        <div class="field-note__comment max-width">
                            Политикой сайта запрещено указывать контактые данные в графе «о себе», а так же использовать
                            не цензурную лексику.
                        </div>
                    </div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Цель знакомства
                    </div>
                    <div class="field-input">
                        <app-select-box formControlName="relationshipTypes"
                                        [items]="enums['relationshipTypes']" [multiple]="true"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
            </div>
            <div class="form-section">
                <div class="form-line fw-mb-30">
                    <div class="field-title">
                        Подключить телефон
                    </div>
                    <div class="field-input">
                        <div class="fw-flex fw-mb-15">
                            <div class="fw-flex-grow fw-mr-15">
                                <app-input-box formControlName="phone"
                                               [placeholder]="'Введите номер телефона'"
                                ></app-input-box>
                            </div>
                            <div>
                                <a href="#" class="button button--primary">Подключить</a>
                            </div>
                        </div>
                        <div class="fw-flex">
                            <app-checbox-box [name]="'phone_allow'"
                                             [items]="[{label: 'Использовать мой номер для получения сообщений с сайта по СМС', checked: false}]"></app-checbox-box>
                        </div>
                    </div>
                    <div class="field-note">
                        <div class="field-note__comment max-width">
                            Пользователи не будут видеть ваш номер телефона, при совершении звонков и отправке СМС, а
                            так же
                            в анкете на сайте.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Рост
                    </div>
                    <div class="field-input">
                        <div class="fw-width-2-3">
                            <app-input-box formControlName="height" [tooltip]="'см'"></app-input-box>
                        </div>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Вес
                    </div>
                    <div class="field-input">
                        <div class="fw-width-2-3">
                            <div class="input-box">
                                <app-input-box formControlName="weight" [tooltip]="'кг'"></app-input-box>
                            </div>
                        </div>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Внешность
                    </div>
                    <div class="field-input">
                        <app-select-box formControlName="appearance"
                                        [items]="enums['appearance']"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Телосложение
                    </div>
                    <div class="field-input">
                        <app-select-box formControlName="physique"
                                        [items]="enums['physique']"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Цвет волос
                    </div>
                    <div class="field-input">
                        <app-select-box formControlName="hairColor"
                                        [items]="enums['hairColor']"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Цвет глаз
                    </div>
                    <div class="field-input">
                        <app-select-box formControlName="eyeColor"
                                        [items]="enums['eyeColor']"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
            </div>
            <div class="form-section">
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Периодичность в сексе
                    </div>
                    <div class="field-input">
                        <app-select-box formControlName="sexualPeriodicity"
                                        [items]="enums['sexualPeriodicity']"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-mb-30">
                    <div class="field-title">
                        Роль в сексе
                    </div>
                    <div class="field-input">
                        <app-radio-box-label formControlName="sexualRole" [items]="enums['sexualRole']"
                        ></app-radio-box-label>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-mb-30">
                    <div class="field-title">
                        Вид секса
                    </div>
                    <div class="field-input">
                        <app-checbox-box-label formControlName="sexualKinds" [items]="enums['sexualKinds']"
                                               [typeArray]="true"></app-checbox-box-label>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Ориентация
                    </div>
                    <div class="field-input">
                        <app-radio-box-label formControlName="sexualPreference" [items]="enums['sexualPreference']"
                                             [combined]="true"></app-radio-box-label>
                    </div>
                    <div class="field-note"></div>
                </div>
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Интересы
                    </div>
                    <div class="field-input">
                        <app-select-box [placeholder]="'Интересы'" formControlName="hobbies"
                                        [items]="enums['hobbies']" [multiple]="true"></app-select-box>
                    </div>
                    <div class="field-note"></div>
                </div>
            </div>
            <div class="form-section">
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Отношения
                    </div>
                    <div class="field-input">
                        <app-radio-box-label formControlName="relationshipState" [items]="enums['relationshipState']"
                                             [combined]="true"></app-radio-box-label>
                    </div>
                    <div class="field-note"></div>
                </div>
            </div>
            <div class="form-section no-border fw-mb-30">
                <div class="form-line fw-flex fw-flex-middle fw-mb-30">
                    <div class="field-title">
                        Дети
                    </div>
                    <div class="field-input">
                        <app-radio-box-label formControlName="childrenExist"
                                             [items]="enums['childrenExist']"
                                             [combined]="true"></app-radio-box-label>
                    </div>
                    <div class="field-note"></div>
                </div>
            </div>
            <div class="form-buttons">
                <button class="button button--primary fw-mr-10">Сохранить</button>
                <a routerLink="/profile" class="button button--default fw-mr-25"><span class="button-empty__text">Просмотреть свой профиль</span></a>
                <span class="fw-color-grey"><button type="reset"
                                                    class="fw-reset fw-color-grey">Отменить изменения</button></span>
            </div>
        </form>
    </div>
</div>