<div class="bottom-categories fw-mb-30">
  <div class="container">
    <div class="bottom-categories__inner">
      <div class="bottom-categories__title fw-fz-24 fw-text-center fw-mb-20">Рубрики</div>
      <div class="bottom-categories__list fw-flex fw-flex-middle">
        <div class="bottom-categories__item" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index;">
          <a class="checkbox-box-label"><span>Игрушки {{i}}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>