.icon-shape-remove-purple {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2285px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-shape-remove-purple {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2108px;
    height: 14px;
    width: 13px;
  }
}

.icon-shape-heart-purple {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2265px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-shape-heart-purple {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2090px;
    height: 15px;
    width: 17px;
  }
}

.icon-form-navigator {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1213px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-form-navigator {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1108px;
    height: 16px;
    width: 16px;
  }
}

.icon-form-triangle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1234px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 6px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-form-triangle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1127px;
    height: 6px;
    width: 10px;
  }
}

.icon-appstore-white {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -97px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-appstore-white {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -92px;
    height: 27px;
    width: 21px;
  }
}

.icon-appstore-grey {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -65px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-appstore-grey {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -63px;
    height: 27px;
    width: 21px;
  }
}

.icon-googleplay-white {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1344px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-googleplay-white {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1227px;
    height: 24px;
    width: 20px;
  }
}

.icon-googleplay-grey {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1315px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-googleplay-grey {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1200px;
    height: 24px;
    width: 20px;
  }
}

.icon-gift-white {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1283px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-gift-white {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1171px;
    height: 27px;
    width: 24px;
  }
}

.icon-gift-big-white {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1245px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-gift-big-white {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1135px;
    height: 33px;
    width: 30px;
  }
}

.icon-confidentiality {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1116px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-confidentiality {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1019px;
    height: 24px;
    width: 20px;
  }
}

.icon-top-female-badge {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2524px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 165px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-top-female-badge {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2329px;
    height: 36px;
    width: 165px;
  }
}

.icon-social-facebook-circle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2304px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-facebook-circle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2124px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-twitter-circle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2414px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-twitter-circle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2227px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-vk-circle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2451px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-vk-circle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2261px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-google-plus-circle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2341px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-google-plus-circle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2159px;
    height: 31px;
    width: 32px;
  }
}

.icon-social-instagram-circle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2377px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-instagram-circle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2192px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-youtube-circle {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2488px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-youtube-circle {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2296px;
    height: 31px;
    width: 32px;
  }
}

.icon-user-cart-chat {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2719px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2509px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-phone {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2884px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2664px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-star {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2990px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-star {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2765px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-camera-small {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2609px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-small {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2407px;
    height: 16px;
    width: 18px;
  }
}

.icon-user-cart-phone-small {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2858px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone-small {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2641px;
    height: 21px;
    width: 20px;
  }
}

.icon-user-cart-chat-small {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2691px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat-small {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2484px;
    height: 23px;
    width: 22px;
  }
}

.icon-user-cart-chat-large {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2630px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat-large {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2425px;
    height: 56px;
    width: 56px;
  }
}

.icon-user-cart-phone-large {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2797px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone-large {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2582px;
    height: 56px;
    width: 56px;
  }
}

.icon-user-cart-star-large {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2931px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-star-large {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2709px;
    height: 54px;
    width: 54px;
  }
}

.icon-user-cart-camera-checked {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2565px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-checked {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2368px;
    height: 17px;
    width: 20px;
  }
}

.icon-user-cart-camera-red {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2587px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-red {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2387px;
    height: 17px;
    width: 20px;
  }
}

.icon-user-cart-in-top {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2766px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 58px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-in-top {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2554px;
    height: 26px;
    width: 58px;
  }
}

.icon-phone-about {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1991px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 67px;
  width: 51px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-phone-about {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1839px;
    height: 67px;
    width: 51px;
  }
}

.icon-chat-about {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -283px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 59px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-about {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -261px;
    height: 59px;
    width: 60px;
  }
}

.icon-invisible-about {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1559px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 64px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-invisible-about {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1427px;
    height: 60px;
    width: 64px;
  }
}

.icon-message-about {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1722px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-message-about {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1585px;
    height: 56px;
    width: 60px;
  }
}

.icon-app-about {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-app-about {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 0;
    height: 60px;
    width: 60px;
  }
}

.icon-header-cog {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1508px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-header-cog {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1381px;
    height: 18px;
    width: 18px;
  }
}

.icon-header-wallet {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1531px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-header-wallet {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1401px;
    height: 23px;
    width: 22px;
  }
}

.icon-camera-purple {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-camera-purple {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -122px;
    height: 36px;
    width: 36px;
  }
}

.icon-camera-white {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 28px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-camera-white {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -160px;
    height: 24px;
    width: 28px;
  }
}

.icon-profile-views {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2199px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-views {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2029px;
    height: 12px;
    width: 18px;
  }
}

.icon-profile-comments {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2101px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-comments {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1941px;
    height: 14px;
    width: 18px;
  }
}

.icon-profile-search {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2180px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-search {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2013px;
    height: 14px;
    width: 14px;
  }
}

.icon-profile-crown {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2120px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 33px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-crown {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1958px;
    height: 36px;
    width: 33px;
  }
}

.icon-invisible-hat {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1624px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 93px;
  width: 98px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-invisible-hat {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1489px;
    height: 93px;
    width: 98px;
  }
}

.icon-pencil {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1970px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-pencil {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1820px;
    height: 16px;
    width: 16px;
  }
}

.icon-profile-blocked {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2082px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-blocked {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1925px;
    height: 14px;
    width: 14px;
  }
}

.icon-profile-activated {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2063px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-activated {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1908px;
    height: 14px;
    width: 14px;
  }
}

.icon-profile-invisible {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2161px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-invisible {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1996px;
    height: 14px;
    width: 14px;
  }
}

.icon-footer-googleplay {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1180px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 117px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-footer-googleplay {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1078px;
    height: 28px;
    width: 117px;
  }
}

.icon-footer-apple {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1145px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 111px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-footer-apple {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1045px;
    height: 30px;
    width: 111px;
  }
}

.icon-circle-remove {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1085px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-circle-remove {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -990px;
    height: 26px;
    width: 26px;
  }
}

.icon-circle-edit {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1054px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-circle-edit {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -962px;
    height: 26px;
    width: 26px;
  }
}

.icon-grey-confidential {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1418px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-grey-confidential {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1296px;
    height: 40px;
    width: 140px;
  }
}

.icon-grey-app-store {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1373px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 135px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-grey-app-store {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1253px;
    height: 40px;
    width: 135px;
  }
}

.icon-grey-google-play {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1463px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 135px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-grey-google-play {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1338px;
    height: 40px;
    width: 135px;
  }
}

.icon-mm-wmj {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1921px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 176px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-wmj {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1774px;
    height: 44px;
    width: 176px;
  }
}

.icon-mm-mail-online {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1783px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 217px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-mail-online {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1643px;
    height: 36px;
    width: 217px;
  }
}

.icon-mm-metro {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1824px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 129px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-metro {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1682px;
    height: 46px;
    width: 129px;
  }
}

.icon-mm-tatler {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1875px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-tatler {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -1730px;
    height: 41px;
    width: 148px;
  }
}

.icon-catalog-grid {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -220px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-catalog-grid {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -205px;
    height: 16px;
    width: 16px;
  }
}

.icon-catalog-grid-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -199px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-catalog-grid-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -187px;
    height: 16px;
    width: 16px;
  }
}

.icon-catalog-listing {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -262px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-catalog-listing {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -242px;
    height: 16px;
    width: 16px;
  }
}

.icon-catalog-listing-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -241px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-catalog-listing-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -224px;
    height: 16px;
    width: 16px;
  }
}

.icon-purchases-photo-approve {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -2216px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-purchases-photo-approve {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -2044px;
    height: 44px;
    width: 44px;
  }
}

.icon-online-status {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #c2c2c2;
}
.icon-online-status.online {
  background-color: #6ec100;
}

.icon-plus {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.icon-plus:after, .icon-plus:before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 80%;
  content: "";
  display: block;
  background-color: #443a91;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.icon-plus:before {
  height: 80%;
  width: 2px;
}

.icon-chat-cog {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -530px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-cog {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -485px;
    height: 15px;
    width: 15px;
  }
}

.icon-chat-cog-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -510px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-cog-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -468px;
    height: 15px;
    width: 15px;
  }
}

.icon-chat-close {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -492px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-close {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -452px;
    height: 13px;
    width: 13px;
  }
}

.icon-chat-call {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -414px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-call {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -382px;
    height: 31px;
    width: 30px;
  }
}

.icon-chat-messages {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -789px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-messages {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -719px;
    height: 14px;
    width: 18px;
  }
}

.icon-chat-messages-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -770px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-messages-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -703px;
    height: 14px;
    width: 18px;
  }
}

.icon-chat-lips {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -725px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-lips {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -663px;
    height: 15px;
    width: 17px;
  }
}

.icon-chat-lips-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -705px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-lips-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -645px;
    height: 15px;
    width: 17px;
  }
}

.icon-chat-phone {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -851px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-phone {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -779px;
    height: 17px;
    width: 15px;
  }
}

.icon-chat-phone-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -829px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-phone-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -754px;
    height: 22px;
    width: 22px;
  }
}

.icon-chat-check {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -471px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-check {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -434px;
    height: 16px;
    width: 16px;
  }
}

.icon-chat-check-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -450px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-check-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -415px;
    height: 16px;
    width: 16px;
  }
}

.icon-chat-bell {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -368px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-bell {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -341px;
    height: 16px;
    width: 14px;
  }
}

.icon-chat-bell-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -347px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-bell-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -322px;
    height: 16px;
    width: 14px;
  }
}

.icon-chat-star {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1033px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-star {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -943px;
    height: 16px;
    width: 17px;
  }
}

.icon-chat-star-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -1012px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-star-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -925px;
    height: 16px;
    width: 17px;
  }
}

.icon-chat-hand {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -683px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-hand {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -621px;
    height: 22px;
    width: 22px;
  }
}

.icon-chat-hand-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -661px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-hand-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -601px;
    height: 17px;
    width: 14px;
  }
}

.icon-chat-folder {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -590px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-folder {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -538px;
    height: 14px;
    width: 17px;
  }
}

.icon-chat-folder-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -571px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-folder-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -521px;
    height: 14px;
    width: 17px;
  }
}

.icon-chat-search {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -896px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-search {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -819px;
    height: 16px;
    width: 16px;
  }
}

.icon-chat-send {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -917px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-send {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -837px;
    height: 40px;
    width: 40px;
  }
}

.icon-chat-smile {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -987px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-smile {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -902px;
    height: 20px;
    width: 20px;
  }
}

.icon-chat-smile-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -962px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-smile-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -880px;
    height: 20px;
    width: 20px;
  }
}

.icon-chat-photo {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -873px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-photo {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -798px;
    height: 18px;
    width: 22px;
  }
}

.icon-chat-gift {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -635px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-gift {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -578px;
    height: 21px;
    width: 20px;
  }
}

.icon-chat-gift-active {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -609px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-gift-active {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -554px;
    height: 21px;
    width: 20px;
  }
}

.icon-chat-call-green {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -389px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-call-green {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -359px;
    height: 20px;
    width: 20px;
  }
}

.icon-chat-message {
  background-image: url('../images/icons-s28ce088a9e.png');
  background-position: 0 -745px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-message {
    background-image: url('../images/icons-2x-se1ebbd225e.png');
    background-size: 217px auto;
    background-position: 0 -680px;
    height: 20px;
    width: 20px;
  }
}
