.icon-shape-remove-purple {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2152px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-shape-remove-purple {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1987px;
    height: 14px;
    width: 13px;
  }
}

.icon-shape-heart-purple {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2132px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-shape-heart-purple {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1970px;
    height: 15px;
    width: 17px;
  }
}

.icon-form-navigator {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-form-navigator {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1034px;
    height: 16px;
    width: 16px;
  }
}

.icon-form-triangle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1150px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 6px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-form-triangle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1053px;
    height: 6px;
    width: 10px;
  }
}

.icon-appstore-white {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -97px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-appstore-white {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -92px;
    height: 27px;
    width: 21px;
  }
}

.icon-appstore-grey {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -65px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-appstore-grey {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -63px;
    height: 27px;
    width: 21px;
  }
}

.icon-googleplay-white {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1260px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-googleplay-white {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1153px;
    height: 24px;
    width: 20px;
  }
}

.icon-googleplay-grey {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1231px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-googleplay-grey {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1126px;
    height: 24px;
    width: 20px;
  }
}

.icon-gift-white {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1199px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-gift-white {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1097px;
    height: 27px;
    width: 24px;
  }
}

.icon-gift-big-white {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1161px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-gift-big-white {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1061px;
    height: 33px;
    width: 30px;
  }
}

.icon-confidentiality {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1032px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-confidentiality {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -945px;
    height: 24px;
    width: 20px;
  }
}

.icon-top-female-badge {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2391px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 165px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-top-female-badge {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2209px;
    height: 36px;
    width: 165px;
  }
}

.icon-social-facebook-circle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2171px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-facebook-circle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2004px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-twitter-circle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2281px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-twitter-circle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2106px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-vk-circle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2318px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-vk-circle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2141px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-google-plus-circle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2208px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-google-plus-circle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2038px;
    height: 31px;
    width: 32px;
  }
}

.icon-social-instagram-circle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2244px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-instagram-circle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2072px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-youtube-circle {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2355px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-youtube-circle {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2175px;
    height: 31px;
    width: 32px;
  }
}

.icon-user-cart-chat {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2586px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2389px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-phone {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2751px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2544px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-star {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2857px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-star {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2645px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-camera-small {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2476px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-small {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2286px;
    height: 16px;
    width: 18px;
  }
}

.icon-user-cart-phone-small {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2725px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone-small {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2520px;
    height: 21px;
    width: 20px;
  }
}

.icon-user-cart-chat-small {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2558px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat-small {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2363px;
    height: 23px;
    width: 22px;
  }
}

.icon-user-cart-chat-large {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2497px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat-large {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2305px;
    height: 56px;
    width: 56px;
  }
}

.icon-user-cart-phone-large {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2664px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone-large {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2462px;
    height: 56px;
    width: 56px;
  }
}

.icon-user-cart-star-large {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2798px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-star-large {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2588px;
    height: 54px;
    width: 54px;
  }
}

.icon-user-cart-camera-checked {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2432px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-checked {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2247px;
    height: 17px;
    width: 20px;
  }
}

.icon-user-cart-camera-red {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2454px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-red {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2267px;
    height: 17px;
    width: 20px;
  }
}

.icon-user-cart-in-top {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2633px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 58px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-in-top {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -2433px;
    height: 26px;
    width: 58px;
  }
}

.icon-phone-about {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1907px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 67px;
  width: 51px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-phone-about {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1765px;
    height: 67px;
    width: 51px;
  }
}

.icon-chat-about {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -199px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 59px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-about {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -187px;
    height: 59px;
    width: 60px;
  }
}

.icon-invisible-about {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1475px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 64px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-invisible-about {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1353px;
    height: 60px;
    width: 64px;
  }
}

.icon-message-about {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1638px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-message-about {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1511px;
    height: 56px;
    width: 60px;
  }
}

.icon-app-about {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-app-about {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 0;
    height: 60px;
    width: 60px;
  }
}

.icon-header-cog {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1424px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-header-cog {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1307px;
    height: 18px;
    width: 18px;
  }
}

.icon-header-wallet {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1447px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-header-wallet {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1327px;
    height: 23px;
    width: 22px;
  }
}

.icon-camera-purple {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-camera-purple {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -122px;
    height: 36px;
    width: 36px;
  }
}

.icon-camera-white {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 28px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-camera-white {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -160px;
    height: 24px;
    width: 28px;
  }
}

.icon-profile-views {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2115px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-views {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1955px;
    height: 12px;
    width: 18px;
  }
}

.icon-profile-comments {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2017px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-comments {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1867px;
    height: 14px;
    width: 18px;
  }
}

.icon-profile-search {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2096px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-search {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1939px;
    height: 14px;
    width: 14px;
  }
}

.icon-profile-crown {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2036px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 33px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-crown {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1884px;
    height: 36px;
    width: 33px;
  }
}

.icon-invisible-hat {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1540px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 93px;
  width: 98px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-invisible-hat {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1415px;
    height: 93px;
    width: 98px;
  }
}

.icon-pencil {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1886px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-pencil {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1746px;
    height: 16px;
    width: 16px;
  }
}

.icon-profile-blocked {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1998px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-blocked {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1851px;
    height: 14px;
    width: 14px;
  }
}

.icon-profile-activated {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1979px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-activated {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1834px;
    height: 14px;
    width: 14px;
  }
}

.icon-profile-invisible {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -2077px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-profile-invisible {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1922px;
    height: 14px;
    width: 14px;
  }
}

.icon-footer-googleplay {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1096px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 117px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-footer-googleplay {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1004px;
    height: 28px;
    width: 117px;
  }
}

.icon-footer-apple {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1061px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 111px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-footer-apple {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -971px;
    height: 30px;
    width: 111px;
  }
}

.icon-circle-remove {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1001px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-circle-remove {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -916px;
    height: 26px;
    width: 26px;
  }
}

.icon-circle-edit {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -970px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-circle-edit {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -888px;
    height: 26px;
    width: 26px;
  }
}

.icon-grey-confidential {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1334px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-grey-confidential {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1222px;
    height: 40px;
    width: 140px;
  }
}

.icon-grey-app-store {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1289px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 135px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-grey-app-store {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1179px;
    height: 40px;
    width: 135px;
  }
}

.icon-grey-google-play {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1379px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 135px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-grey-google-play {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1264px;
    height: 40px;
    width: 135px;
  }
}

.icon-mm-wmj {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1837px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 176px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-wmj {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1700px;
    height: 44px;
    width: 176px;
  }
}

.icon-mm-mail-online {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1699px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 217px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-mail-online {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1569px;
    height: 36px;
    width: 217px;
  }
}

.icon-mm-metro {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1740px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 129px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-metro {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1608px;
    height: 46px;
    width: 129px;
  }
}

.icon-mm-tatler {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -1791px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mm-tatler {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -1656px;
    height: 41px;
    width: 148px;
  }
}

.icon-online-status {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #c2c2c2;
}
.icon-online-status.online {
  background-color: #6ec100;
}

.icon-plus {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.icon-plus:after, .icon-plus:before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 80%;
  content: "";
  display: block;
  background-color: #443a91;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.icon-plus:before {
  height: 80%;
  width: 2px;
}

.icon-chat-cog {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -446px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-cog {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -411px;
    height: 15px;
    width: 15px;
  }
}

.icon-chat-cog-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -426px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-cog-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -394px;
    height: 15px;
    width: 15px;
  }
}

.icon-chat-close {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -408px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-close {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -378px;
    height: 13px;
    width: 13px;
  }
}

.icon-chat-call {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -330px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-call {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -308px;
    height: 31px;
    width: 30px;
  }
}

.icon-chat-messages {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -705px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-messages {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -645px;
    height: 14px;
    width: 18px;
  }
}

.icon-chat-messages-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -686px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-messages-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -629px;
    height: 14px;
    width: 18px;
  }
}

.icon-chat-lips {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -641px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-lips {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -589px;
    height: 15px;
    width: 17px;
  }
}

.icon-chat-lips-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -621px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-lips-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -571px;
    height: 15px;
    width: 17px;
  }
}

.icon-chat-phone {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -767px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-phone {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -705px;
    height: 17px;
    width: 15px;
  }
}

.icon-chat-phone-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -745px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-phone-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -680px;
    height: 22px;
    width: 22px;
  }
}

.icon-chat-check {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -387px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-check {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -360px;
    height: 16px;
    width: 16px;
  }
}

.icon-chat-check-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -366px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-check-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -341px;
    height: 16px;
    width: 16px;
  }
}

.icon-chat-bell {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -284px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-bell {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -267px;
    height: 16px;
    width: 14px;
  }
}

.icon-chat-bell-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -263px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-bell-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -248px;
    height: 16px;
    width: 14px;
  }
}

.icon-chat-star {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -949px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-star {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -869px;
    height: 16px;
    width: 17px;
  }
}

.icon-chat-star-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -928px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-star-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -851px;
    height: 16px;
    width: 17px;
  }
}

.icon-chat-hand {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -599px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-hand {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -547px;
    height: 22px;
    width: 22px;
  }
}

.icon-chat-hand-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -577px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-hand-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -527px;
    height: 17px;
    width: 14px;
  }
}

.icon-chat-folder {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -506px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-folder {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -464px;
    height: 14px;
    width: 17px;
  }
}

.icon-chat-folder-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -487px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-folder-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -447px;
    height: 14px;
    width: 17px;
  }
}

.icon-chat-search {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -812px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-search {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -745px;
    height: 16px;
    width: 16px;
  }
}

.icon-chat-send {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -833px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-send {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -763px;
    height: 40px;
    width: 40px;
  }
}

.icon-chat-smile {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -903px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-smile {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -828px;
    height: 20px;
    width: 20px;
  }
}

.icon-chat-smile-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -878px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-smile-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -806px;
    height: 20px;
    width: 20px;
  }
}

.icon-chat-photo {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -789px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-photo {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -724px;
    height: 18px;
    width: 22px;
  }
}

.icon-chat-gift {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -551px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-gift {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -504px;
    height: 21px;
    width: 20px;
  }
}

.icon-chat-gift-active {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -525px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-gift-active {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -480px;
    height: 21px;
    width: 20px;
  }
}

.icon-chat-call-green {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -305px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-call-green {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -285px;
    height: 20px;
    width: 20px;
  }
}

.icon-chat-message {
  background-image: url('../images/icons-s12fac8a341.png');
  background-position: 0 -661px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-chat-message {
    background-image: url('../images/icons-2x-seeda211e2b.png');
    background-size: 217px auto;
    background-position: 0 -606px;
    height: 20px;
    width: 20px;
  }
}
