.icon-shape-remove-purple {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -273px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-shape-remove-purple {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -248px;
    height: 14px;
    width: 13px;
  }
}

.icon-shape-heart-purple {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -253px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-shape-heart-purple {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -231px;
    height: 15px;
    width: 17px;
  }
}

.icon-form-navigator {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -93px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-form-navigator {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -86px;
    height: 16px;
    width: 16px;
  }
}

.icon-form-triangle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 6px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-form-triangle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -104px;
    height: 6px;
    width: 10px;
  }
}

.icon-appstore-white {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-appstore-white {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -30px;
    height: 27px;
    width: 21px;
  }
}

.icon-appstore-grey {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-appstore-grey {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 0;
    height: 27px;
    width: 21px;
  }
}

.icon-googleplay-white {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -224px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-googleplay-white {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -204px;
    height: 24px;
    width: 20px;
  }
}

.icon-googleplay-grey {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -195px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-googleplay-grey {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -178px;
    height: 24px;
    width: 20px;
  }
}

.icon-gift-white {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -163px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-gift-white {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -148px;
    height: 27px;
    width: 24px;
  }
}

.icon-gift-big-white {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -125px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-gift-big-white {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -113px;
    height: 33px;
    width: 30px;
  }
}

.icon-confidentiality {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-confidentiality {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -59px;
    height: 24px;
    width: 20px;
  }
}

.icon-top-female-badge {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -512px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 165px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-top-female-badge {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -470px;
    height: 36px;
    width: 165px;
  }
}

.icon-social-facebook-circle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -292px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-facebook-circle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -265px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-twitter-circle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -402px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-twitter-circle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -367px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-vk-circle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -439px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-vk-circle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -402px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-google-plus-circle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -329px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-google-plus-circle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -299px;
    height: 31px;
    width: 32px;
  }
}

.icon-social-instagram-circle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -365px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-instagram-circle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -333px;
    height: 32px;
    width: 32px;
  }
}

.icon-social-youtube-circle {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -476px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-social-youtube-circle {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -436px;
    height: 31px;
    width: 32px;
  }
}

.icon-user-cart-chat {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -707px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -650px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-phone {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -872px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -805px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-star {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -978px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-star {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -906px;
    height: 42px;
    width: 42px;
  }
}

.icon-user-cart-camera-small {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -597px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-small {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -547px;
    height: 16px;
    width: 18px;
  }
}

.icon-user-cart-phone-small {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -846px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone-small {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -781px;
    height: 21px;
    width: 20px;
  }
}

.icon-user-cart-chat-small {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -679px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat-small {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -624px;
    height: 23px;
    width: 22px;
  }
}

.icon-user-cart-chat-large {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -618px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-chat-large {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -566px;
    height: 56px;
    width: 56px;
  }
}

.icon-user-cart-phone-large {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -785px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-phone-large {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -723px;
    height: 56px;
    width: 56px;
  }
}

.icon-user-cart-star-large {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -919px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-star-large {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -849px;
    height: 54px;
    width: 54px;
  }
}

.icon-user-cart-camera-checked {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -553px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-checked {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -508px;
    height: 17px;
    width: 20px;
  }
}

.icon-user-cart-camera-red {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -575px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-camera-red {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -528px;
    height: 17px;
    width: 20px;
  }
}

.icon-user-cart-in-top {
  background-image: url('../images/icons-s55966029a1.png');
  background-position: 0 -754px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 58px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-user-cart-in-top {
    background-image: url('../images/icons-2x-sb44e0e6587.png');
    background-size: 165px auto;
    background-position: 0 -694px;
    height: 26px;
    width: 58px;
  }
}
