<div class="about-page page-section">
  <div class="about-page__header fw-mb-40">
    <div class="container small-container">
      <h1 class="fw-text-center fw-mb-10">О проекте</h1>
      <div class="fw-fz-16 fw-fw-600">
        В России живут тысячи современных золушек, каждая из которых по-своему прекрасна и неповторима. Мы
        собрали на нашем сайте лучших девушек, чтобы сберечь время мужчин, готовых сделать из них настоящих
        принцесс.
      </div>
    </div>
  </div>
  <div class="about-page__girls fw-text-center">
    <div class="container small-container">
      <h2 class="page-title fw-mb-30">Кто такие современные золушки</h2>
      <div class="fw-mb-30">
        В крупных городах сегодня можно встретить большое количество девушек, которым состоятельные
        мужчины готовы обеспечить соответствующие условия жизни – золушки наших дней получают дорогую одежду
        от лучших модных домов Европы, драгоценности,автомобили и объекты недвижимости. Взамен они дарят
        достойным и щедрым мужчинам, реализующим их желания, внимание, ласку, иногда любовь.
      </div>
      <div>
        <div class="about-page__girls-image">
          <img src="/assets/images/pages/about/about-girls.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="about-page__for page-section fw-text-center">
    <div class="container medium-container">
      <h2 class="page-title fw-mb-30">Для кого создан сервис «Золушка Project»</h2>
      <div class="fw-text-blacktree">
        <p class="fw-mb-20">Решение мужчины обладать своей золушкой всегда тщательно осмыслено и выверено. Некоторые
          успешные в обществе и уверенные
          в себе мужчины хотят отдохнуть от супружеской жизни, не желая пользоваться платными услугами
          «профессионалок», другие – расстались с любимой и не хотят отказывать себе в женском общении,
          также нередки случаи, когда на построение романтических отношений из-за напряженного графика
          просто не хватает времени.</p>

        <p>В любой ситуации отношения по расчету, где детали оговариваются заранее в соответствии с
          предпочтениями двух сторон, помогают найти желаемое. Для мужчины – это ни к чему не обязывающие
          часы наслаждений, проведенные вместе со статусной золушкой, для женщины – крепкое плечо рядом и
          широкие возможности для достойной жизни.</p>
      </div>
    </div>
  </div>
  <div class="about-page__how page-section">
    <div class="container">
      <h2 class="page-title fw-text-center fw-mb-30">Как работает Золушка Project</h2>
      <div class="fw-mb-40 fw-text-center">
        Мы сделали наш интернет-сервис максимально удобным как для мужчин, так и для женщин, использовав современные IT-технологии:
      </div>
      <div class="about-page__how-grid fw-grid fw-grid-50 fw-text-center">
        <div class="fw-width-1-3">
          <div>
            <i class="icon-chat-about"></i>
          </div>
          <div>
            Переписка в формате современного <br>мессенджера
          </div>
        </div>
        <div class="fw-width-1-3">
          <div>
            <i class="icon-phone-about"></i>
          </div>
          <div>
            Возможность телефонной связи без <br>раскрытия номера
          </div>
        </div>
        <div class="fw-width-1-3">
          <div>
            <i class="icon-app-about"></i>
          </div>
          <div>
            Мобильное приложение <a href="#" class="link link--purple">Denim</a> для <br>операционной системы IOS и Android
          </div>
        </div>
        <div class="fw-width-1-3">
          <div>
            <i class="icon-message-about"></i>
          </div>
          <div>
            Массовые рассылки сообщений для золушек осуществляются выборочно с учетом возможности исключения девушек
          </div>
        </div>
        <div class="fw-width-1-3">
          <div>
            <i class="icon-invisible-about"></i>
          </div>
          <div>
            «Режим невидимости» (Invisible) позволяет скрыть от всего списка контактов/некоторых собеседников информацию об авторизации пользователя
          </div>
        </div>
      </div>
      <div class="fw-text-center fw-mb-20">
        <div class="about-page__video-block fw-inline-block">
          <iframe width="701" height="394"
                  src="https://www.youtube.com/embed/V3VhirG2wdU?rel=0&amp;controls=0&amp;showinfo=0"
                  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="about-page__bottom fw-text-center">
        Продолжая, Вы принимаете условия
        <a href="#" class="link link--purple">пользовательского соглашения</a>,
        <a href="#" class="link link--purple">правила</a>, а также подтверждаете что Вам есть 18 лет.
      </div>
    </div>
  </div>
</div>