<ul class="chat-list">
  <li class="chat-list__item">
    <div>
      <a href="#" class="chat-list__thumbnail"><img src="http://placehold.it/50x50"
                                                    alt=""></a>
    </div>
    <div>
      <a href="#"><h4 class="chat-list__user">Альная 19</h4></a>
      <p class="chat-list__location">Москва, Россия</p>
      <p class="chat-list__time"><i class="icon-chat-direct"></i> 2 часа назад по прямой
        ссылке</p>
      <a href="#" class="chat-list__button">Отправить сообщение</a>
    </div>
  </li>
  <li class="chat-list__item">
    <div>
      <a href="#" class="chat-list__thumbnail"><img src="http://placehold.it/50x50"
                                                    alt=""></a>
    </div>
    <div>
      <a href="#"><h4 class="chat-list__user chat-list__user--offline">Алла, 27</h4></a>
      <p class="chat-list__location">Москва, Россия</p>
      <p class="chat-list__time"><i class="icon-chat-direct"></i> 2 часа назад по прямой
        ссылке</p>
      <a href="#" class="chat-list__button">Отправить сообщение</a>
    </div>
  </li>
  <li class="chat-list__item">
    <div>
      <a href="#" class="chat-list__thumbnail"><img src="http://placehold.it/50x50"
                                                    alt=""></a>
    </div>
    <div>
      <a href="#"><h4 class="chat-list__user">Аврора, 23</h4></a>
      <p class="chat-list__location">Москва, Россия</p>
      <p class="chat-list__time"><i class="icon-chat-mobile"></i> 45 минут назад из
        приложения
        <a href="#" class="chat-list__link"
           data-title="Получите ссылку на приложение и установите Denim на свой телефон!">Denim</a>
        для мобильного</p>
      <a href="#" class="chat-list__button">Отправить сообщение</a>
    </div>
  </li>
  <li class="chat-list__item">
    <div>
      <a href="#" class="chat-list__thumbnail"><img src="http://placehold.it/50x50"
                                                    alt=""></a>
    </div>
    <div>
      <a href="#"><h4 class="chat-list__user">Аврора, 23</h4></a>
      <p class="chat-list__location">Москва, Россия</p>
      <p class="chat-list__time"><i class="icon-chat-direct"></i> 2 часа назад по прямой
        ссылке</p>
      <a href="#" class="chat-list__button">Отправить сообщение</a>
    </div>
  </li>
</ul>