<div class="popup">
  <div class="chat">
    <div class="chat__archive fw-flex">
      <div class="fw-flex-shrink-no">
        <ul class="chat__archive-list">
          <li class="fw-mt-10 active">
            <a (click)="applyFilter()" class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle"
               [ngClass]="{'active': filterParams === {}}">
              <span><i class="icon-chat-messages"></i></span>
              <span><i class="icon-chat-messages-active"></i></span>
              <span class="fw-ml-5">Все</span>
            </a>
          </li>
          <li class="fw-mt-10">
            <a (click)="applyFilter({online: 1})"
               class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle"
               [ngClass]="{'active': !!filterParams['online']}">
              <span><i class="icon-chat-lips"></i></span>
              <span><i class="icon-chat-lips-active"></i></span>
              <span class="fw-ml-5">On-line</span>
            </a>
          </li>
          <li class="fw-mt-10">
            <a (click)="applyFilter({calls: 1})"
               class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle"
               [ngClass]="{'active': !!filterParams['calls']}">
              <span><i class="icon-chat-phone"></i></span>
              <span><i class="icon-chat-phone-active"></i></span>
              <span class="fw-ml-5">Звонки</span>
            </a>
          </li>
          <li class="fw-mt-10">
            <a (click)="applyFilter({removed: 1})"
               class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle"
               [ngClass]="{'active': !!filterParams['removed']}">
              <span><i class="icon-chat-check"></i></span>
              <span><i class="icon-chat-check-active"></i></span>
              <span class="fw-ml-5">Скрыть удаленные</span>
            </a>
          </li>
          <li class="fw-mt-10">
            <a (click)="applyFilter({new: 1})"
               class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle"
               [ngClass]="{'active': !!filterParams['new']}">
              <span><i class="icon-chat-bell"></i></span>
              <span><i class="icon-chat-bell-active"></i></span>
              <span class="fw-ml-5">Новые</span>
            </a>
          </li>
          <li (click)="applyFilter({favorite: 1})" class="fw-mt-10">
            <a class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle"
               [ngClass]="{'active': !!filterParams['favorite']}">
              <span><i class="icon-chat-star"></i></span>
              <span><i class="icon-chat-star-active"></i></span>
              <span class="fw-ml-5">Избранные</span>
            </a>
          </li>
          <li (click)="applyFilter({blacklist: 1})" class="fw-mt-10">
            <a [ngClass]="{'active': !!filterParams['blacklist']}"
               class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle">
              <span><i class="icon-chat-hand"></i></span>
              <span><i class="icon-chat-hand-active"></i></span>
              <span class="fw-ml-5">Черный список</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="fw-position-relative fw-mt-40 fw-mb-15 fw-flex fw-flex-grow fw-flex-column">
        <p class="fw-fz-15 fw-fw-600 fw-flex-shrink-no">Мои папки</p>
        <perfect-scrollbar class="fw-flex-grow fw-flex fw-flex-column">
          <ul class="chat__archive-list fw-mt-10" *ngIf="!!folders.length">
            <li class="fw-mt-10" *ngFor="let folder of folders; let i = index;"
                (click)="applyFilter({folderId: folder.id})">
              <a class="fw-link fw-link--blue fw-fz-14 fw-flex fw-flex-middle fw-position-relative fw-text-ellipsis"
                 [ngClass]="{'active': !!filterParams['folderId'] && filterParams['folderId'] === folder.id}">
                <span><i class="icon-chat-folder"></i></span>
                <span><i class="icon-chat-folder-active"></i></span>
                <span class="chat__archive-list--remove" (click)="removeFolder($event, i)"><i
                    class="icon-shape-remove-purple"></i></span>
                <span class="fw-ml-5">{{folder.title}}</span>
              </a>
            </li>
          </ul>
          <div *ngIf="!folders.length" class="fw-mt-10 fw-text-600 fw-color-grey-dark">У вас нет папок
          </div>
        </perfect-scrollbar>
        <app-preloader *ngIf="preloaders.folderList"></app-preloader>
      </div>
      <div class="fw-mt-auto fw-position-relative fw-flex-shrink-no">
        <a *ngIf="!newFolderForm" (click)="newFolderForm = true"
           class="button button--blue button--small fw-width-1-1 fw-flex fw-flex-middle">
          <i class="icon-plus icon-plus--purple-dark fw-mr-5"></i>
          <span class="fw-fz-14 fw-text-600 fw-vam">Добавить папку</span>
        </a>
        <form (submit)="addNewFolder($event)" [formGroup]="FNewFolder" *ngIf="newFolderForm">
          <div class="fw-mb-10">
            <app-input-box formControlName="title" class="fw-width-1-1"
                           [placeholder]="'Название папки'"></app-input-box>
          </div>
          <div>
            <button class="button button--primary fw-width-1-1">Сохранить</button>
          </div>
        </form>
        <app-preloader *ngIf="preloaders.folderForm"></app-preloader>
      </div>
    </div>
    <div class="chat__messages">
      <div class="chat__header">
        <div><p class="fw-fw-600 fw-fz-16">Все сообщения</p></div>
        <div><a><i class="icon-chat-search"></i></a></div>
      </div>
      <perfect-scrollbar class="chat__list list" (ps-scroll-y)="infineFolderScroll()">
        <!--<div class="list__item list__inbox list__inbox&#45;&#45;new">
            <div>
                <a class="list__thumbnail"><img src="http://placehold.it/50x50" alt=""></a>
            </div>
            <div>
                <a><h4 class="list__user">Альная 19</h4></a>
                <p class="list__message">Привет, как дела твои?</p>
                <p class="list__time">19.05.06 21:00:21</p>
                <a><i class="list__icon icon-chat-message"></i></a>
            </div>
        </div>
        <div class="list__item list__send">
            <div>
                <a class="list__thumbnail"><img src="http://placehold.it/50x50" alt=""></a>
            </div>
            <div>
                <a><h4 class="list__user list__user&#45;&#45;offline">Алла, 27</h4></a>
                <p class="list__message">о отличная идея!</p>
                <p class="list__time">19.05.06 21:00:21</p>
                <a><i class="list__icon icon-chat-message"></i></a>
            </div>
        </div>
        <div class="list__item list__inbox">
            <div>
                <a class="list__thumbnail"><img src="http://placehold.it/50x50" alt=""></a>
            </div>
            <div>
                <a><h4 class="list__user">Аврора, 23</h4></a>
                <p class="list__message  list__message&#45;&#45;active">позвони прям тут, можно же</p>
                <p class="list__time">19.05.06 21:00:21</p>
                <a><i class="list__icon icon-chat-message"></i></a>
            </div>
        </div>-->
        <ng-container *ngIf="!!dialogs._embedded">
          <div class="list__item" *ngFor="let dialog of dialogs._embedded.content; let i = index;"
               [ngClass]="{'list__inbox': (dialogKey === i)}"
               (click)="openMessages(i)">
            <div>
              <a class="list__thumbnail">
                <img
                    src="{{ !!dialog.clientTo.avatar ? dialog.clientTo.avatar._links.thumbnail.href : './assets/images/default-navigation-avatar.svg' }}"
                    alt="">
              </a>
            </div>
            <div>
              <div class="list__user" [ngClass]="{'list__user--offline': !dialog.clientTo.online}">
                {{dialog.clientTo.name}}, {{dialog.clientTo.age}}
              </div>
              <p class="list__message"
                 [ngClass]="{'list__message--active': !!dialog.lastMessage, 'list__message--no-massages': !dialog.lastMessage}">
                {{!!dialog.lastMessage ? dialog.lastMessage : 'Нет сообщений'}}</p>
              <p class="list__time">{{!!dialog.lastMessageCreated ? dialog.lastMessageCreated :
                ''}}</p>
              <span>
                  <!--<i class="list__icon icon-chat-call-green"></i>-->
                  <i class="list__icon icon-chat-message"></i>
              </span>
            </div>
          </div>
        </ng-container>
      </perfect-scrollbar>
      <app-preloader *ngIf="preloaders.dialogs"></app-preloader>
    </div>
    <div class="chat__content fw-position-relative">
      <app-preloader *ngIf="preloaders.messages"></app-preloader>
      <div class="chat__header chat__header--bordered">
        <div>
          <a><i *ngIf="!!dialog" class="icon-chat-call"></i></a>
        </div>
        <div class="fw-text-center">
          <div class="fw-inline-block">
            <p *ngIf="!!dialog" class="fw-has-user-status fw-text-600"
               [ngClass]="{'fw-has-user-status--offline': !dialog.clientTo.online}">
              {{!!dialog ? dialog.clientTo.name : ''}},
              {{!!dialog ? dialog.clientTo.age : ''}} лет,
              {{!!dialog ? dialog.clientTo.city.title : ''}}
            </p>
          </div>
          <div><p class="fw-color-grey-dark fw-fz-13" *ngIf="!!dialog">
            {{dialog.clientTo.lastOnline}}</p></div>
        </div>
        <div class="fw-relative fw-flex fw-flex-middle">
          <div class="fw-mr-15 chat__settings-link" *ngIf="!!dialog">
            <i class="icon-chat-cog"></i>
            <i class="icon-chat-cog-active"></i>

            <div class="chat__settings">
              <a class="fw-fz-13" (click)="deleteDialog($event)">Удалить диалог</a>
              <a class="fw-fz-13">Переместить в другую папку</a>
              <a class="fw-fz-13" (click)="favoriteDialog($event)">
                <span *ngIf="!dialog.favorite">Добавить в избранное</span>
                <span *ngIf="dialog.favorite">Убрать из избранного</span>
              </a>
              <a class="fw-fz-13" (click)="blacklistDialog($event)">
                <span *ngIf="!dialog.blacklist">Добавить в черный список</span>
                <span *ngIf="dialog.blacklist">Убрать из черного списока</span>
              </a>
              <app-preloader *ngIf="preloaders.dialogAction"></app-preloader>
            </div>
          </div>
          <a class="js-close-popup"><i class="icon-chat-close"></i></a>
        </div>
      </div>
      <div class="chat__context context fw-flex">
        <perfect-scrollbar #messagesScroll class="fw-flex-grow fw-flex fw-flex-column">
          <div class="chat__box box" *ngFor="let messageGroup of messages">

            <div class="box__data"><p>{{messageGroup.messageDate}}</p></div>
            <div class="box__message message" [ngClass]="{'message--income': message.incoming}"
                 *ngFor="let message of messageGroup.messageList">
              <div class="message__image" *ngIf="message['incoming']"><img
                  src="http://placehold.it/32x32" alt=""></div>
              <p *ngIf="!message.incoming" class="message__time">{{message['createdTime']}}</p>
              <p class="message__text">
                <span>{{message['message']}}</span>
              </p>
              <p *ngIf="message['incoming']" class="message__time">{{message['createdTime']}}</p>
            </div>
            <!--<div class="box__message message message&#45;&#45;income">
                <div class="message__image"><img src="http://placehold.it/32x32" alt=""></div>
                <p class="message__text">
                    <span>Привет! Как жизнь?!</span>
                </p>
                <p class="message__time">19:10</p>
            </div>
            <div class="box__message message">
                <p class="message__time">19:10</p>
                <p class="message__text">
                    <span>Привет! Как жизнь?!</span>
                </p>
            </div>-->
          </div>
        </perfect-scrollbar>
        <div class="context__footer fw-flex-shrink-no fw-pt-15" *ngIf="!!dialog">
          <form [formGroup]="FMessage" class="chat__new-message fw-flex" (submit)="sendMessage($event)">
            <app-input-box formControlName="message" class="fw-flex-grow"
                           [placeholder]="'Ваше сообщение'"></app-input-box>
            <button type="submit" class="fw-reset"><i class="icon-chat-send fw-brp-50"></i></button>
          </form>
          <div>
            <div class="chat__new-message-option option">
              <div>
                <a class="option__link">
                  <i class="icon-chat-smile"></i>
                  <i class="icon-chat-smile-active"></i>
                </a>
                <div class="option__sub">
                  <div class="js-scroll-pane">
                    <div class="option__container">
                      <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square">
                        <img src="http://placehold.it/30x30" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <a><i class="icon-chat-photo"></i></a>
              </div>
              <div>
                <a class="option__link"><i class="icon-chat-gift"></i><i
                    class="icon-chat-gift-active"></i></a>
                <div class="option__sub option__sub--presents">
                  <div class="js-scroll-pane">
                    <div>
                      <p class="fw-fw-600 fw-fz-15 fw-text-center">Особенные подарки</p>
                      <div class="option__container">
                        <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square"><img
                            src="http://placehold.it/80x80" alt=""></a>
                      </div>
                    </div>
                    <div class="fw-mt-20">
                      <p class="fw-fw-600 fw-fz-15 fw-text-center">VIP подарки</p>
                      <div class="option__container">
                        <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square"><img
                            src="http://placehold.it/80x80" alt=""></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <p class="fw-fz-13 fw-text-warmgrey">Для переноса строки нажмите Shift+Enter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
