<div class="popup">
  <div class="chat">
    <div class="chat__archive fw-flex">
      <div class="fw-flex-shrink-no">
        <app-popup-chat-sort-menu [filterParams]="filterParams"
                                  (applyFilter)="applyFilter($event)"></app-popup-chat-sort-menu>
      </div>
      <div class="fw-position-relative fw-flex-grow fw-flex-column fw-flex">
        <app-popup-chat-folders class="fw-flex fw-flex-column fw-flex-grow" (applyFilter)="applyFilter($event)" [filterParams]="filterParams" [folders]="folders"></app-popup-chat-folders>
      </div>
    </div>
    <div class="chat__messages">
      <app-popup-chat-dialogs (openMessages)="openMessages($event)" [filterParams]="filterParams" [dialogs]="dialogs" [dialogKey]="dialogKey"></app-popup-chat-dialogs>
    </div>
    <div class="chat__content fw-position-relative">
      <app-preloader *ngIf="preloaders.messages"></app-preloader>
      <div class="chat__header chat__header--bordered">
        <div>
          <a><i *ngIf="!!dialog" class="icon-chat-call"></i></a>
        </div>
        <div class="fw-text-center">
          <div class="fw-inline-block">
            <p *ngIf="!!dialog" class="fw-has-user-status fw-text-600"
               [ngClass]="{'fw-has-user-status--offline': !dialog.clientTo.online}">
              {{!!dialog ? dialog.clientTo.name : ''}},
              {{!!dialog ? dialog.clientTo.age : ''}} {{'POPUPS.CHAT.MESSAGES.YEARS' | translate}},
              {{!!dialog ? dialog.clientTo.city.title : ''}}
            </p>
          </div>
          <div><p class="fw-color-grey-dark fw-fz-13" *ngIf="!!dialog">
            {{dialog.clientTo.lastOnline}}</p></div>
        </div>
        <div class="fw-relative fw-flex fw-flex-middle">
          <div class="fw-mr-15 chat__settings-link fw-cursor-pointer" *ngIf="!!dialog">
            <i class="icon-chat-cog"></i>
            <i class="icon-chat-cog-active"></i>

            <div class="chat__settings">
              <a class="fw-fz-13" (click)="deleteDialog($event)">{{'POPUPS.CHAT.DIALOGS.DELETE_DIALOG' | translate}}</a>
              <a class="fw-fz-13">{{'POPUPS.CHAT.DIALOGS.MOVE_TO_FOLDER' | translate}}</a>
              <a class="fw-fz-13" (click)="favoriteDialog($event)">
                <span *ngIf="!dialog.favorite">{{'POPUPS.CHAT.DIALOGS.ADD_TO_FAVORITES' | translate}}</span>
                <span *ngIf="dialog.favorite">{{'POPUPS.CHAT.DIALOGS.REMOVE_FROM_FAVORITES' | translate}}</span>
              </a>
              <a class="fw-fz-13" (click)="blacklistDialog($event)">
                <span *ngIf="!dialog.blacklist">{{'POPUPS.CHAT.DIALOGS.ADD_TO_BLACKLIST' | translate}}</span>
                <span *ngIf="dialog.blacklist">{{'POPUPS.CHAT.DIALOGS.REMOVE_FROM_BLACKLIST' | translate}}</span>
              </a>
              <app-preloader *ngIf="preloaders.dialogAction"></app-preloader>
            </div>
          </div>
          <a class="js-close-popup"><i class="icon-chat-close"></i></a>
        </div>
      </div>
      <div class="chat__context context fw-flex">
        <perfect-scrollbar #messagesScroll class="fw-flex-grow fw-flex fw-flex-column">
          <div class="chat__box box" *ngFor="let messageGroup of messages">

            <div class="box__data"><p>{{messageGroup.messageDate}}</p></div>
            <div class="box__message message" [ngClass]="{'message--income': message.incoming}"
                 *ngFor="let message of messageGroup.messageList">
              <div class="message__image" *ngIf="message['incoming']"><img
                  src="http://placehold.it/32x32" alt=""></div>
              <p *ngIf="!message.incoming" class="message__time">{{message['createdTime']}}</p>
              <p class="message__text">
                <span>{{message['message']}}</span>
              </p>
              <p *ngIf="message['incoming']" class="message__time">{{message['createdTime']}}</p>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="context__footer fw-flex-shrink-no fw-pt-15" *ngIf="!!dialog">
          <form [formGroup]="FMessage" class="chat__new-message fw-flex" (submit)="sendMessage($event)">
            <app-input-box formControlName="message" class="fw-flex-grow"
                           [placeholder]="'POPUPS.CHAT.MESSAGES.INPUT_PLACEHOLDER' | translate"></app-input-box>
            <button type="submit" class="fw-reset button--disabled-opacity" [disabled]="FMessage.invalid">
              <i class="icon-chat-send fw-brp-50"></i>
            </button>
          </form>
          <div>
            <div class="chat__new-message-option option">
              <div>
                <a class="option__link">
                  <i class="icon-chat-smile"></i>
                  <i class="icon-chat-smile-active"></i>
                </a>
                <div class="option__sub">
                  <div class="js-scroll-pane">
                    <div class="option__container">
                      <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square">
                        <img src="http://placehold.it/30x30" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <a><i class="icon-chat-photo"></i></a>
              </div>
              <div>
                <a class="option__link">
                  <i class="icon-chat-gift"></i>
                  <i class="icon-chat-gift-active"></i>
                </a>
                <div class="option__sub option__sub--presents">
                  <div class="js-scroll-pane">
                    <div>
                      <p class="fw-fw-600 fw-fz-15 fw-text-center">{{'POPUPS.CHAT.MESSAGES.SPECIAL_PRESENTS' |
                        translate}}</p>
                      <div class="option__container">
                        <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square">
                          <img src="http://placehold.it/80x80" alt=""></a>
                      </div>
                    </div>
                    <div class="fw-mt-20">
                      <p class="fw-fw-600 fw-fz-15 fw-text-center">{{'POPUPS.CHAT.MESSAGES.VIP_PRESENTS' |
                        translate}}</p>
                      <div class="option__container">
                        <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square"><img
                            src="http://placehold.it/80x80" alt=""></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <p class="fw-fz-13 fw-color-grey">{{'POPUPS.CHAT.MESSAGES.NEW_ROW_INFO' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
