<div class="popup">
  <div class="chat">
    <div class="chat__archive fw-flex">
      <div class="fw-flex-shrink-no">
        <app-popup-chat-sort-menu [filterParams]="filterParams"
                                  (onApplyFilter)="applyFilter($event)"></app-popup-chat-sort-menu>
      </div>
      <div class="fw-position-relative fw-flex-grow fw-flex-column fw-flex">
        <app-popup-chat-folders class="fw-flex fw-flex-column fw-flex-grow" (onApplyFilter)="applyFilter($event)" [filterParams]="filterParams" [folders]="folders"></app-popup-chat-folders>
      </div>
    </div>
    <div class="chat__messages">
      <app-popup-chat-dialogs [preloader]="preloaders.dialogs" (onOpenMessages)="openMessages($event)" [filterParams]="filterParams" [dialogs]="dialogs" [dialogKey]="dialogKey"></app-popup-chat-dialogs>
    </div>
    <div class="chat__content fw-position-relative">
      <app-preloader *ngIf="preloaders.messages"></app-preloader>
      <app-popup-chat-dialog-header [dialog]="dialog"></app-popup-chat-dialog-header>
      <div class="chat__context context fw-flex">
        <perfect-scrollbar #messagesScroll class="fw-flex-grow fw-flex fw-flex-column">
          <div class="chat__box box" *ngFor="let messageGroup of messages">

            <div class="box__data"><p>{{messageGroup.messageDate}}</p></div>
            <div class="box__message message" [ngClass]="{'message--income': message.incoming}"
                 *ngFor="let message of messageGroup.messageList">
              <div class="message__image" *ngIf="message['incoming']"><img
                  src="http://placehold.it/32x32" alt=""></div>
              <p *ngIf="!message.incoming" class="message__time">{{message['createdTime']}}</p>
              <p class="message__text">
                <span>{{message['message']}}</span>
              </p>
              <p *ngIf="message['incoming']" class="message__time">{{message['createdTime']}}</p>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="context__footer fw-flex-shrink-no fw-pt-15" *ngIf="!!dialog">
          <form [formGroup]="FMessage" class="chat__new-message fw-flex" (submit)="sendMessage($event)">
            <app-input-box formControlName="message" class="fw-flex-grow"
                           [placeholder]="'POPUPS.CHAT.MESSAGES.INPUT_PLACEHOLDER' | translate"></app-input-box>
            <button type="submit" class="fw-reset button--disabled-opacity" [disabled]="FMessage.invalid">
              <i class="icon-chat-send fw-brp-50"></i>
            </button>
          </form>
          <div>
            <div class="chat__new-message-option option">
              <div>
                <a class="option__link">
                  <i class="icon-chat-smile"></i>
                  <i class="icon-chat-smile-active"></i>
                </a>
                <div class="option__sub">
                  <div class="js-scroll-pane">
                    <div class="option__container">
                      <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square">
                        <img src="http://placehold.it/30x30" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <a><i class="icon-chat-photo"></i></a>
              </div>
              <div>
                <a class="option__link">
                  <i class="icon-chat-gift"></i>
                  <i class="icon-chat-gift-active"></i>
                </a>
                <div class="option__sub option__sub--presents">
                  <div class="js-scroll-pane">
                    <div>
                      <p class="fw-fw-600 fw-fz-15 fw-text-center">{{'POPUPS.CHAT.MESSAGES.SPECIAL_PRESENTS' |
                        translate}}</p>
                      <div class="option__container">
                        <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square">
                          <img src="http://placehold.it/80x80" alt=""></a>
                      </div>
                    </div>
                    <div class="fw-mt-20">
                      <p class="fw-fw-600 fw-fz-15 fw-text-center">{{'POPUPS.CHAT.MESSAGES.VIP_PRESENTS' |
                        translate}}</p>
                      <div class="option__container">
                        <a *ngFor="let item of [1,2,3,4,5]" class="fw-img-square"><img
                            src="http://placehold.it/80x80" alt=""></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <p class="fw-fz-13 fw-color-grey">{{'POPUPS.CHAT.MESSAGES.NEW_ROW_INFO' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
