<div class="pagination" *ngIf="!!pagination">
  <div class="pagination__item" *ngIf="pagination._allowPrev">
    <a class="pagination__link pagination__link-side" (click)="setPage(pagination.page.number)" translate="PAGINATION.PREV">Предыдущая</a>
  </div>
  <div class="pagination__item" *ngFor="let page of pagination._pages">
    <span class="pagination__placeholder" *ngIf="!page.id">...</span>
    <a class="pagination__link" *ngIf="(pagination.page.number + 1 === page.id)" [ngClass]="{'active': pagination.page.number + 1 === page.id}">{{page.title}}</a>
    <a class="pagination__link" (click)="setPage(page.id)" *ngIf="(pagination.page.number + 1 !== page.id && !!page.id)" [ngClass]="{'active': pagination.page.number + 1 === page.id}">{{page.title}}</a>
  </div>
  <!--<div class="pagination__item">
    <a class="pagination__link">2</a>
  </div>
  <div class="pagination__item">
    <a class="pagination__link">3</a>
  </div>
  <div class="pagination__item">
    <a class="pagination__link">4</a>
  </div>
  <div class="pagination__item">
    <a class="pagination__link">5</a>
  </div>
  <div class="pagination__item">
    <span class="pagination__placeholder">...</span>
  </div>
  <div class="pagination__item">
    <a class="pagination__link">25</a>
  </div>-->
  <div class="pagination__item" *ngIf="pagination._allowNext">
    <a class="pagination__link pagination__link-side" (click)="setPage(pagination.page.number + 2)" translate="PAGINATION.NEXT">Следующая</a>
  </div>
</div>