<div class="main-na__application page-section">
  <div class="container">
    <div class="fw-grid fw-grid-50">
      <div class="fw-width-1-2">
        <p class="page-title fw-mb-10">Установите мобильное приложение</p>
        <div class="fw-mb-30">
          <p class="fw-mb-20">«Denim» — максимально удобный инструмент для общения. Поддерживайте
            связь, где бы вы ни
            находились — на работе или на отдыхе.</p>

          <p>Скачайте удобное бесплатное приложение с интуитивно понятным интерфейсом. Мы учли ваши
            опасения – иконка приложения и название не вызовут у окружающих лишних вопросов. А сам
            доступ к приложению защищен кодом безопасности.</p>
        </div>
        <div class="fw-mb-30">
          <p class="fw-fw-600 fw-fz-15 fw-mb-10">Получить ссылку на приложение по SMS</p>
          <form action="#" class="fw-flex">
            <div class="fw-flex-grow fw-mr-15">
              <div class="input-box fw-radius-3">
                <app-input-box></app-input-box>
              </div>
            </div>
            <div>
              <button class="button button--primary">Получить</button>
            </div>
          </form>
        </div>
        <div>
          <p class="fw-fw-600 fw-fz-15 fw-mb-5">Загрузите приложение в магазинах</p>
          <div class="main-na__app-icons fw-flex fw-flex-middle fw-pt-10">
            <a class="fw-inline-block fw-mr-30 main-na-app-wrapper">
              <i class="icon-footer-apple"></i>
            </a>
            <a class="fw-inline-block main-na-app-wrapper">
              <i class="icon-footer-googleplay"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="fw-width-1-2 fw-text-center">
        <img class="fw-width-1-1 main-na__application-image" src="/assets/images/pages/index-na/application.png"
             alt="">
      </div>
    </div>
  </div>
</div>