<div class="panel-box panel-box--rounded panel-box--bordered panel-box--overflow-no">
  <div class="fw-flex fw-flex-between fw-flex-middle">
    <p class="fw-color-grey-dark fw-fz-13">01.03.2017 10:19</p>
  </div>
  <p class="fw-fw-600 fw-fz-14 fw-mt-10">{{mailing.ageFrom}}-{{mailing.ageTo}}, {{mailing.city.title}}, <span *ngFor="let relationshipType of mailing.relationshipTypes; let last = last;">{{relationshipType.title}}<span *ngIf="!last">, </span></span>, показывается во всех городах</p>
  <p class="fw-mt-10 fw-fz-13">{{mailing.text}}</p>
  <p class="fw-mt-20 fw-fw-600 fw-fz-14">Исключенные пользователи</p>
  <div>
    <div class="fw-flex fw-flex-middle">
      <div class="fw-flex-grow fw-mr-10 fw-overflow-no fw-mw-87">
        <div class="fw-flex fw-flex-wrap">
          <a class="fw-tooltip fw-width-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no" data-title="Маша, 23"><img src="http://placehold.it/50x50" alt="" class="fw-brp-50 fw-width-1-1"></a>
        </div>
      </div>
      <div class="fw-flex-shrink-no"><span class="fw-link fw-color-purple fw-text-underline--hover">и еще 22</span></div>
    </div>
  </div>
  <hr class="hr-small fw-mb-15 fw-mt-15 fw-height-1">
  <a routerLink="/mailing/edit/{{mailing.id}}" class="fw-link fw-color-purple fw-fz-14">{{'BUTTONS.EDIT' | translate}}</a>
</div>