<article class="panel fw-position-relative panel-section-visits" *ngIf="!!users.page.totalElements">
  <div class="fw-pt-20 fw-pb-20 fw-pl-20 fw-pr-20 fw-flex fw-flex-space-between fw-flex-middle fw-position-relative">
    <div class="fw-fw-600 fw-fz-16 fw-color-dark fw-flex-shrink-no">
      <span class="fw-badge fw-badge--style-2 fw-inline-block">
        Просмотры
        <span class="fw-badge__text" *ngIf="!!users.page.totalElements">{{users.page.totalElements}}</span>
      </span>
    </div>
    <div class="panel-section-visits__carousel-controls controls">
      <a class="controls__prev control" (click)="moveCarousel('prev')"></a>
      <a class="controls__next control" (click)="moveCarousel('next')"></a>
    </div>
  </div>
  <div class="panel-section__content">
    <div class="panel-section-visits__carousel">
      <owl-carousel #viewsCarousel [items]="users._embedded.clientCard" [options]="{items: 4, center: true, margin: 15, loop: true}">
        <div *ngFor="let user of users._embedded.clientCard">
          <app-user-cart-tiny [classes]="'user-cart__round-image'" class="fw-width-1-1 fw-block" [user]="user"></app-user-cart-tiny>
        </div>
      </owl-carousel>
    </div>
  </div>
  <div class="fw-bg-light fw-mt-25">
    <a routerLink="/search"
       class="fw-flex fw-flex-center fw-color-purple fw-fw-600 fw-pt-15 fw-pb-15">Смотреть все</a>
  </div>
  <app-preloader *ngIf="preloader"></app-preloader>
</article>