<div class="profile-page">
    <div class="container">
        <div class="profile-wrapper fw-flex">
            <div class="profile-left">
                <div class="profile__info fw-mb-30 panel fw-br-5">
                    <div class="profile__info-image">
                        <img alt="" class="profile__info-avatar fw-width-1-1"
                             src="{{(user_info['avatar']) ? user_info['avatar']['_links']['thumbnail'] : './assets/images/default-avatar.svg'}}"/>
                    </div>
                    <div class="profile__info-content">
                        <div class="profile__info-statistic fw-mb-20">
                            <div class="fw-flex fw-flex-space-between fw-flex-middle fw-fz-16 fw-fw-600">
                                <div class="fw-flex fw-flex-middle">
                                    <i class="icon-profile-views fw-mr-5"></i>
                                    2349
                                </div>
                                <div class="fw-flex fw-flex-middle">
                                    <i class="icon-profile-comments fw-mr-5"></i>
                                    102
                                </div>
                                <div class="fw-flex fw-flex-middle">
                                    <i class="icon-profile-search fw-mr-5"></i>
                                    2349
                                </div>
                            </div>
                        </div>
                        <div class="profile__info-parameters fw-fw-600">
                            <span class="fw-mr-15" *ngIf="!!model['weight']">Вес {{ model['weight'] }}кг</span>
                            <span *ngIf="!!model['height']">Рост {{ model['height'] }} см</span>
                        </div>
                        <div class="profile__info-additions-params fw-mt-10"
                             *ngIf="!!model['_bodyCondition'] && !!model['_bodyCondition'].length">
                            {{ model['_bodyCondition'].join(', ') }}
                        </div>
                    </div>
                </div>
                <div class="profile__extend panel fw-br-5" *ngIf="!user_info['premium']">
                    <div class="club-extend">
                        <div class="club-extend__icon-wrapper fw-mb-20 fw-text-center">
                            <i class="icon-profile-crown"></i>
                        </div>
                        <div class="club-extend__content fw-mb-20 fw-fw-600 fw-fz-16">
                            Станьте членом эксклюзивного клуба «Золушка Project» – подключите премиум-доступ!
                        </div>
                        <div class="club-extend__button">
                            <a class="button button--primary fw-width-1-1">Купить премиум</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-right fw-flex-grow">
                <div class="profile__top-bar panel fw-br-5 fw-mb-30">
                    <div class="profile__name fw-flex fw-flex-space-between fw-flex-middle fw-mb-30">
                        <div class="profile__name-left">
                            <div class="profile__name-title fw-fw-600 fw-mb-5" *ngIf="model['name']">
                                {{ model['name'] }}{{ (model['age']) ? ' ' + model['age'] + 'лет' : '' }}, {{
                                (model['zodiacsign']) ? model['zodiacsign'] + ', ' : '' }}{{ (model['city']) ?
                                model['city']['title'] : '' }}
                            </div>
                            <div>
                                <i class="icon-online-status online fw-mr-5"></i>
                                <span class="fw-color-green-light fw-inline-block fw-fz-13">On-line</span>
                            </div>
                        </div>
                        <div class="profile__name-right">
                            <a routerLink="/profile-edit" class="button button--default">
                                <div class="button-empty__text">
                                    <span class="fw-inline-block fw-mr-5">Редактировать анкету</span>
                                    <i class="icon-pencil"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="profile__photos">
                        <div class="profile__photos-title fw-fz-16 fw-mb-10 fw-fw-600">Фотографии</div>
                        <div class="fw-flex">
                            <div class="profile__photos-item fw-flex fw-flex-shrink-no fw-pr-10">
                                <div class="fw-height-proportional-100 fw-width-1-1">
                                    <label class="profile-add-new-photo fw-fz-13">
                                        <i class="icon-camera-purple"></i>
                                        <!--<i class="icon-camera-white fw-mb-10"></i>-->
                                        <!--<span>Добавить фото</span>-->
                                        <input type="file" multiple (change)="uploadPhoto($event)" class="fw-hidden">
                                    </label>
                                </div>
                            </div>
                            <div class="fw-flex-grow fw-min-width-0 fw-position-relative">
                                <owl-carousel class="profile__photos-carousel" #photoCarousel [options]="owlSettings" [items]="gallery" >
                                    <div class="profile__photos-image-wrapper fw-height-proportional-100 fw-width-1-1"
                                         *ngFor="let item of gallery; let i = index;">
                                        <div class="profile__photos-image-hover profile-edit__photos-link">
                                            <img alt="" class="profile__photos-image"
                                                   src="{{ item._links.thumbnail.href }}"/>
                                            <a class="profile-edit__photo-icon-left">
                                                <i class="icon-circle-edit"></i>
                                            </a>
                                            <a class="profile-edit__photo-icon-right">
                                                <i class="icon-circle-remove"></i>
                                            </a>
                                        </div>
                                    </div>
                                </owl-carousel>
                                <app-preloader *ngIf="preloaders.photos"></app-preloader>
                            </div>
                            <!--<div class="profile__photos-item" *ngFor="let item of gallery">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt="" class="profile__photos-image fw-inline-block"
                                         src="{{ item._links.thumbnail.href }}"/>
                                </a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="profile__more">
                    <div class="profile__more-left">
                        <div class="profile__about panel fw-br-5 fw-mb-30">
                            <div class="fw-fz-16 fw-fw-600 fw-mb-30">О себе</div>
                            <div class="profile__about-content">
                                {{ model['aboutMe'] }}
                            </div>
                        </div>

                        <div class="profile__invisible panel fw-br-5" *ngIf="user_info['clientState'] !== 'invisible'">
                            <div class="fw-mb-20">
                                <i class="icon-invisible-hat"></i>
                            </div>
                            <div class="profile__invisible-content fw-mb-30">
                                Вы находитесь в режиме онлайн и другие пользователи видят, что вы на сайте. Вы
                                можете включить режим невидимки и абсолютно анонимно находится на сайте
                            </div>
                            <div>
                                <a href="#" class="profile__invisible-link">Стать невидимкой</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile__more-right">
                        <div class="profile__data panel fw-br-5">
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Цели знакомства</div>
                                <div class="profile__data-content">
                                    <span *ngFor="let item of model['relationshipTypes']; let isLast=last">
                                        {{item['title']}}{{isLast ? '' : ', '}}
                                    </span>
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Сексуальные
                                    предпочтения
                                </div>
                                <div class="profile__data-content">
                                    <span *ngIf="!!model['_sexualSection'] && !!model['_sexualSection'].length">{{ model['_sexualSection'].join(', ') }}</span>
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Интересы</div>
                                <div class="profile__data-content">
                                    <span *ngFor="let item of model['hobbies']; let isLast=last">
                                        {{item['title']}}{{isLast ? '' : ', '}}
                                    </span>
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Дети</div>
                                <div class="profile__data-content">
                                    {{ (model['childrenExist']) ? model['childrenExist']['title'] : '' }}
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Иностранные языки</div>
                                <div class="profile__data-content">
                                    Английский
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Образование</div>
                                <div class="profile__data-content">
                                    Высшее
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>