<div class="profile-page">
    <div class="container">
        <div class="profile-wrapper fw-flex">
            <div class="profile-left">
                <div class="profile__info fw-mb-30 panel fw-br-5">
                    <div class="profile__info-image">
                        <img alt="" class="profile__info-avatar fw-w-100" src="https://placekitten.com/360"/>
                    </div>
                    <div class="profile__info-content">
                        <div class="profile__info-statistic fw-mb-20">
                            <div class="fw-flex fw-flex-space-between fw-flex-middle fw-fz-16 fw-fw-600">
                                <div class="fw-flex fw-flex-middle">
                                    <i class="icon-profile-views fw-mr-5"></i>
                                    2349
                                </div>
                                <div class="fw-flex fw-flex-middle">
                                    <i class="icon-profile-comments fw-mr-5"></i>
                                    102
                                </div>
                                <div class="fw-flex fw-flex-middle">
                                    <i class="icon-profile-search fw-mr-5"></i>
                                    2349
                                </div>
                            </div>
                        </div>
                        <div class="profile__info-parameters fw-mb-10 fw-fw-600">
                            <span class="fw-mr-15">Вес 85кг</span>
                            <span>Рост 186 см</span>
                        </div>
                        <div class="profile__info-additions-params">
                            Блондин, Глаза синие, Спортивное телосложение, Европейская внешность
                        </div>
                    </div>
                </div>
                <div class="profile__extend panel fw-br-5">
                    <div class="club-extend">
                        <div class="club-extend__icon-wrapper fw-mb-20 fw-text-center">
                            <i class="icon-profile-crown"></i>
                        </div>
                        <div class="club-extend__content fw-mb-20 fw-fw-600 fw-fz-16">
                            Станьте членом эксклюзивного клуба «Золушка Project» – подключите премиум-доступ!
                        </div>
                        <div class="club-extend__button">
                            <a href="#" class="button button--primary fw-width-1-1">Купить премиум</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-right fw-flex-grow">
                <div class="profile__top-bar panel fw-br-5 fw-mb-30">
                    <div class="profile__name fw-flex fw-flex-space-between fw-flex-middle fw-mb-30">
                        <div class="profile__name-left">
                            <div class="profile__name-title fw-fw-600 fw-mb-5">Олег 27 лет, Весы, Москва</div>
                            <div>
                                <i class="icon-online-status online fw-mr-5"></i>
                                <span class="fw-color-green-light fw-inline-block fw-fz-13">On-line</span>
                            </div>
                        </div>
                        <div class="profile__name-right">
                            <a routerLink="/profile-edit" class="button button--default">
                                <div class="button-empty__text">
                                    <span class="fw-inline-block fw-mr-5">Редактировать анкету</span>
                                    <i class="icon-pencil"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="profile__photos">
                        <div class="profile__photos-title fw-fz-16 fw-mb-10 fw-fw-600">Фотографии</div>
                        <div class="profile__photos-grid fw-flex fw-flex-wrap">
                            <div class="profile__photos-item fw-flex">
                                <div class="profile-add-new-photo fw-fz-13">
                                    <i class="icon-camera-white fw-mb-10"></i>
                                    <div>Добавить фото</div>
                                </div>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                            <div class="profile__photos-item">
                                <a href="#" class="profile__photos-image-hover">
                                    <img alt=""
                                         class="profile__photos-image fw-inline-block"
                                         src="http://placehold.it/100x100"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__more">
                    <div class="profile__more-left">
                        <div class="profile__about panel fw-br-5 fw-mb-30">
                            <div class="fw-fz-16 fw-fw-600 fw-mb-30">О себе</div>
                            <div class="profile__about-content">
                                <p>Для тех кто ищет еще и романтику! Русский, живу на пмж в
                                    Германии. Не свободен, не молод, но
                                    умен и это тоже сексуально...Не жаден, достаточно обеспечен для достойного
                                    содержания
                                    молодой любовницы, тактичен, ухожен, всегда дорого и хорошо одеваюсь. Ищу в
                                    Москве
                                    девушку
                                    22-28 лет для нечастых встреч в Москве 2-3 в месяц, красивую умненькую,
                                    желательно с
                                    вышкой,
                                    модницу, умеющую своей в любой компании. Со стартовым "багажом" интеллектуальным
                                    и с
                                    соответствующим уходом за собой...Одноразовые встречи и встречи профессиональных
                                    работниц
                                    сферы досуга не предлагать. Расположен к длительным на 3-4 года отношениям, на
                                    основе
                                    взаимоуважения, честности по возможности и капельки любви, все при обоюдной
                                    симпатии
                                    естественно....</p>
                                <p>PS. Не курю и того же требую от любовницы, фото мое</p>
                            </div>
                        </div>

                        <div class="profile__invisible panel fw-br-5">
                            <div class="fw-mb-20">
                                <i class="icon-invisible-hat"></i>
                            </div>
                            <div class="profile__invisible-content fw-mb-30">
                                Вы находитесь в режиме онлайн и другие пользователи видят, что вы на сайте. Вы
                                можете включить режим невидимки и абсолютно анонимно находится на сайте
                            </div>
                            <div>
                                <a href="#" class="profile__invisible-link">Стать невидимкой</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile__more-right">
                        <div class="profile__data panel fw-br-5">
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Цели знакомства</div>
                                <div class="profile__data-content">
                                    Содержание, Постоянные отношения, Совместные пушешевствия
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Сексуальные
                                    предпочтения
                                </div>
                                <div class="profile__data-content">
                                    Люблю заниматься сексом несколько раз в день, актив, интересует классический и
                                    оральный секс, ориентация гетеро
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Интересы</div>
                                <div class="profile__data-content">
                                    Охота, Рыбалка, Пить, Курить и ничего не делать, Фитнес
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Дети</div>
                                <div class="profile__data-content">
                                    Нет
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Иностранные языки</div>
                                <div class="profile__data-content">
                                    Английский
                                </div>
                            </div>
                            <div class="profile__data-item">
                                <div class="profile__data-title fw-fw-600 fw-fz-16 fw-mb-5">Образование</div>
                                <div class="profile__data-content">
                                    Высшее
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>