<div class="main-na__slider">
  <div class="main-na__carousel">
    <owl-carousel [options]="{items: 1, nav: true}">
      <div class="main-na__carousel-item" *ngFor="let item of [1,1,1,1]">
        <div class="container">
          <div class="fw-grid-50 fw-grid">
            <div class="fw-width-1-2">
              <img src="http://zolushka-project.ru/images/sliders/90.jpg" alt="">
            </div>
            <div class="fw-width-1-2">
              <div class="main-na__carousel-title page-title fw-mb-15">Что такое отношения по расчету?</div>
              <div class="main-na__carousel-content">
                <p>Отношения “девушка-спонсор” нельзя назвать чем-то принципиально новым –
                  истории о том, как богатый и властный мужчина становится покровителем
                  красивых женщин, уходят глубоко в древность. <br>
                  Необходимость создания сервиса «Золушка Project» обусловлена в первую
                  очередь такими многочисленными запросами в поисковиках, как «ищу
                  любовницу»,
                  «найти любовницу» или «стану спонсором». В подобных отношениях каждый из
                  партнеров получает то, что ему нужно – о всех деталях договариваются
                  заранее.</p>

                <p>Условное «содержанство» не подразумевает под собой жизнь только лишь за
                  счет
                  спонсора. Как правило, девушки ведут обычный для большинства граждан
                  образ
                  жизни, имеют работу. Однако их зарплата не позволяет им жить так, как
                  они бы
                  хотели. Тогда девушки идут на такие отношения, чтобы позволить несколько
                  больше, чем могут в данный момент – спонсоры приходят на помощь.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </owl-carousel>
  </div>
</div>