<div class="blog page-section">
  <div class="container">
    <div class="page-header fw-mb-30 fw-flex fw-flex-space-between fw-flex-middle">
      <div>
        <h1 class="page-title fw-mb-10">Блог Золушка Project</h1>
        <h2 class="fw-fz-13">Все самое интересное из мира содержанок и спонсоров</h2>
      </div>
      <div class="fw-width-1-4">
        <app-select-box [placeholder]="'Навигация по рубрикам'" [items]="[{id: 100, title: 'Рубрика 1'}, {id: 100, title: 'Рубрика 2'}]"></app-select-box>
      </div>
    </div>
    <div class="fw-grid fw-grid-30">
      <div class="fw-width-1-2 fw-flex" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]">
        <app-blog-item-cart [item]="item"></app-blog-item-cart>
      </div>
    </div>
  </div>
</div>
<app-blog-bottom-categories></app-blog-bottom-categories>
<app-pagination></app-pagination>