<div class="user-cart{{(!!user.top) ? ' user-cart--in-top' : ''}}" attr.data-grid="{{gridType}}"
     (click)="goToProfile($event, user)" ngClass="{{classes}}">
    <div class="user-cart__thumbnail">
        <img class="user-cart__image" alt=""
             src="{{(!!user.avatar) ? user.avatar._links.original.href : '/assets/images/default-avatar.svg'}}" *ngIf="!small">
        <img class="user-cart__image" alt=""
             src="{{(!!user.avatar) ? user.avatar._links.thumbnail.href : '/assets/images/default-avatar.svg'}}" *ngIf="small">
        <div class="user-cart__photos{{(!!user.photoApproved) ? ' user-cart__photos--approved' : ''}}"
             *ngIf="user.countPhotos > 0">
            <i class="{{(!!user.photoApproved) ? 'icon-user-cart-camera-checked' : 'icon-user-cart-camera-red'}} fw-mr-5"></i>
            <span>{{(!!user.countPhotos) ? user.countPhotos : 0}}</span>
        </div>
        <i class="icon-user-cart-in-top" *ngIf="user.top"></i>
        <div class="user-cart__cover cover">
            <a class="cover__item fw-inline-block fw-mr-15">
                <i (click)="openChat(user)" class="js-user-cart-action icon-user-cart-chat{{(!small) ? '-large' : ''}}"></i>
            </a>
            <a class="cover__item fw-inline-block fw-mr-15">
                <i class="js-user-cart-action icon-user-cart-phone{{(!small) ? '-large' : ''}}"></i>
            </a>
            <a class="cover__item fw-inline-block">
                <i class="js-user-cart-action icon-user-cart-star{{(!small) ? '-large' : ''}}" (click)="addToFavorites(user)"></i>
            </a>
        </div>
    </div>
    <div class="user-cart__information information fw-flex-grow">
        <div [ngClass]="{'fw-flex fw-flex-middle fw-mb-10': !gridType}">
            <a class="user-cart__name" [ngClass]="{'fw-mr-10': !gridType}"> {{(!!user.name) ? user.name : ''}}{{(user.age) ? ', ' + user.age : '' }}</a>
            <div class="user-cart__geo fw-text-ellipsis" [ngClass]="{'fw-mb-5': gridType}">{{(!!user.city) ? user.city.title : ''}}{{(!!user.city.country) ? ', ' + user.city.country.title : '' }}
            </div>
        </div>
        <div class="user-cart__status {{(user.online) ? 'user-cart__status--online' : ''}}">{{(user.online) ? 'On-line'
            : 'Off-line'}}
        </div>
        <div class="user-cart__message" [ngClass]="{'fw-hidden': (gridType || extanded)}" *ngIf="!!user.aboutMe || extanded">
            {{user.aboutMe}}
        </div>
    </div>
    <app-preloader *ngIf="favoritesPreloader"></app-preloader>
</div>