<section class="panel-section panel-section--rounded panel-section--overflow-no fw-mh-500">
  <div class="panel-section__content panel-section__content--boxed">
    <p class="fw-fw-300 fw-fz-30 fw-mb-30 fw-text-center">Архив моих рассылок</p>
    <div class="fw-grid fw-grid-30">
      <div class="fw-width-1-2">
        <p class="fw-fw-600 fw-fz-16">Проявили интерес</p>
        <div>

          <div class="user-list">
            <div class="fw-flex fw-flex-middle fw-mt-20">
              <div class="fw-flex-shrink-no fw-img-square-100 rounded fw-mr-20">
                <img src="http://placehold.it/100x100" alt="">
              </div>
              <div class="fw-flex-grow fw-flex-shrink fw-flex-basis-0">
                <div class="fw-width-1-1 fw-flex fw-fz-13">
                  <p class="fw-flex-shrink-no">Сегодня 16:53</p>
                  <p class="fw-flex-grow fw-color-purple fw-fz-14 fw-ml-5 fw-mw-260 fw-text-ellipsis">Перешла из мобильного приложения</p>
                </div>
                <p class="fw-width-1-1 fw-fw-600 fw-fz-14 fw-mt-10">Саша 22, Россия, Санкт-Петербург</p>
                <p class="fw-width-1-1 fw-mt-10 fw-text-ellipsis fw-hus fw-text-warmgrey fw-fz-13 fw-hus--style-2 fw-hus-reverse user-list__time">была 13 часов назад</p>
              </div>
            </div>
            <a href="#" class="violet-button"><i class="icon-message-light fw-mr-5"></i> Написать</a>
          </div>

          <div class="user-list">
            <div class="fw-flex fw-flex-middle fw-mt-20">
              <div class="fw-flex-shrink-no fw-img-square-100 rounded fw-mr-20">
                <img src="http://placehold.it/100x100" alt="">
              </div>
              <div class="fw-flex-grow fw-flex-shrink fw-flex-basis-0">
                <div class="fw-width-1-1 fw-flex fw-fz-13">
                  <p class="fw-flex-shrink-no">Сегодня 16:53</p>
                  <p class="fw-flex-grow fw-color-purple fw-fz-14 fw-ml-5 fw-mw-260 fw-text-ellipsis">Перешла из мобильного приложения</p>
                </div>
                <p class="fw-width-1-1 fw-fw-600 fw-fz-14 fw-mt-10">Саша 22, Россия, Санкт-Петербург</p>
                <p class="fw-width-1-1 fw-mt-10 fw-text-ellipsis fw-hus fw-text-warmgrey fw-fz-13 fw-hus--style-2 fw-hus-reverse user-list__time">была 13 часов назад</p>
              </div>
            </div>
            <a href="#" class="violet-button"><i class="icon-message-light fw-mr-5"></i> Написать</a>
          </div>

          <div class="user-list">
            <div class="fw-flex fw-flex-middle fw-mt-20">
              <div class="fw-flex-shrink-no fw-img-square-100 rounded fw-mr-20">
                <img src="http://placehold.it/100x100" alt="">
              </div>
              <div class="fw-flex-grow fw-flex-shrink fw-flex-basis-0">
                <div class="fw-width-1-1 fw-flex fw-fz-13">
                  <p class="fw-flex-shrink-no">Сегодня 16:53</p>
                  <p class="fw-flex-grow fw-color-purple fw-fz-14 fw-ml-5 fw-mw-260 fw-text-ellipsis">Перешла из мобильного приложения</p>
                </div>
                <p class="fw-width-1-1 fw-fw-600 fw-fz-14 fw-mt-10">Саша 22, Россия, Санкт-Петербург</p>
                <p class="fw-width-1-1 fw-mt-10 fw-text-ellipsis fw-hus fw-text-warmgrey fw-fz-13 fw-hus--style-2 fw-hus-reverse user-list__time">была 13 часов назад</p>
              </div>
            </div>
            <a href="#" class="violet-button"><i class="icon-message-light fw-mr-5"></i> Написать</a>
          </div>

          <div class="user-list">
            <div class="fw-flex fw-flex-middle fw-mt-20">
              <div class="fw-flex-shrink-no fw-img-square-100 rounded fw-mr-20">
                <img src="http://placehold.it/100x100" alt="">
              </div>
              <div class="fw-flex-grow fw-flex-shrink fw-flex-basis-0">
                <div class="fw-width-1-1 fw-flex fw-fz-13">
                  <p class="fw-flex-shrink-no">Сегодня 16:53</p>
                  <p class="fw-flex-grow fw-color-purple fw-fz-14 fw-ml-5 fw-mw-260 fw-text-ellipsis">Перешла из мобильного приложения</p>
                </div>
                <p class="fw-width-1-1 fw-fw-600 fw-fz-14 fw-mt-10">Саша 22, Россия, Санкт-Петербург</p>
                <p class="fw-width-1-1 fw-mt-10 fw-text-ellipsis fw-hus fw-text-warmgrey fw-fz-13 fw-hus--style-2 fw-hus-reverse user-list__time">была 13 часов назад</p>
              </div>
            </div>
            <a href="#" class="violet-button"><i class="icon-message-light fw-mr-5"></i> Написать</a>
          </div>

          <div class="user-list">
            <div class="fw-flex fw-flex-middle fw-mt-20">
              <div class="fw-flex-shrink-no fw-img-square-100 rounded fw-mr-20">
                <img src="http://placehold.it/100x100" alt="">
              </div>
              <div class="fw-flex-grow fw-flex-shrink fw-flex-basis-0">
                <div class="fw-width-1-1 fw-flex fw-fz-13">
                  <p class="fw-flex-shrink-no">Сегодня 16:53</p>
                  <p class="fw-flex-grow fw-color-purple fw-fz-14 fw-ml-5 fw-mw-260 fw-text-ellipsis">Перешла из мобильного приложения</p>
                </div>
                <p class="fw-width-1-1 fw-fw-600 fw-fz-14 fw-mt-10">Саша 22, Россия, Санкт-Петербург</p>
                <p class="fw-width-1-1 fw-mt-10 fw-text-ellipsis fw-hus fw-text-warmgrey fw-fz-13 fw-hus--style-2 fw-hus-reverse user-list__time">была 13 часов назад</p>
              </div>
            </div>
            <a href="#" class="violet-button"><i class="icon-message-light fw-mr-5"></i> Написать</a>
          </div>

        </div>
        <div class="fw-mt-50"></div>
      </div>

      <div class="fw-width-1-2">
        <form action="">
          <div>
            <p class="fw-fw-600 fw-fz-14">Возраст</p>
            <div class="input-box fw-mt-10">
              <input type="text">
              <span class="input-tooltip">Лет</span>
            </div>
          </div>
          <div class="fw-mt-20">
            <p class="fw-fw-600 fw-fz-14 fw-mb-10">Город</p>
            <div data-select-box=""><select name="" data-select="">
              <option value="">Выберите город</option>
              <option value="">Москва</option>
            </select><div class="select-box"><div class="select-box__header"><a href="#" class="select-box__trigger"><span class="select-box__text">Выберите город</span><i class="icon-select-purple-triangle"></i></a></div><div class="select-box__list_wrapper"><ul class="select-box__list list"><li class="list__item list__item--remove"><a href="#" class="list__link"><span class="list__text">Выберите город</span></a></li><li class="list__item"><a href="#" class="list__link"><span class="list__text">Москва</span></a></li></ul></div></div></div>
            <label class="fw-flex fw-flex-middle fw-mt-10">
              <div class="fw-mr-5">
                <div class="input-checkbox"><input type="checkbox"><div class="input-checkbox__detector"></div></div>
              </div>
              <div class="fw-text-warmgrey fw-fz-14">
                Показывать в других городах
              </div>
            </label>
          </div>
          <div class="fw-mt-20">
            <p class="fw-fw-600 fw-fz-14 fw-mb-10">Цели знакомства</p>
            <div data-select-box=""><select name="" data-select="">
              <option value="">Выберите город</option>
              <option value="">Москва</option>
            </select><div class="select-box"><div class="select-box__header"><a href="#" class="select-box__trigger"><span class="select-box__text">Выберите город</span><i class="icon-select-purple-triangle"></i></a></div><div class="select-box__list_wrapper"><ul class="select-box__list list"><li class="list__item list__item--remove"><a href="#" class="list__link"><span class="list__text">Выберите город</span></a></li><li class="list__item"><a href="#" class="list__link"><span class="list__text">Москва</span></a></li></ul></div></div></div>
          </div>
          <div class="fw-flex fw-flex-middle fw-mt-20">
            <div class="fw-flex-grow"><p class="fw-fw-600 fw-fz-14">Исключить пользователей</p></div>
            <div class="fw-wp-290">
              <div class="fw-flex fw-flex-middle">
                <div class="fw-flex-grow fw-flex-shrink fw-overflow">
                  <div class="fw-flex fw-overflow fw-mr-5">
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                    <a href="#" class="fw-img-square-27 fw-mt-5 fw-mr-3 fw-flex-shrink-no"><img src="http://placehold.it/50x50" alt="" class="fw-img-rounded"></a>
                  </div>
                </div>
                <div class="fw-flex-shrink-no"><a class="fw-link fw-link-purple">и еще 23</a></div>
              </div>
            </div>
          </div>
          <div class="fw-mt-20">
            <p class="fw-fw-600 fw-fz-14 fw-mb-10">Текст рассылки</p>
            <div class="textarea-box">
              <textarea name="" placeholder="Вcтречусь сегодня с очаровашкой, модельной внешности, в Вас ласка, с меня подарок"></textarea>
            </div>
          </div>
          <div class="fw-mt-20 fw-grid fw-grid-15">
            <div class="fw-width-1-2"><button class="violet-button fw-width-1-1">Сохранить</button> </div>
            <div class="fw-width-1-2"><a href="#" class="default-button fw-width-1-1">Остановить рассылку</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>