<section class="panel-section panel-section--rounded panel-section--overflow-no fw-mh-500">
  <div class="panel-section__content panel-section__content--boxed">
    <p class="fw-fw-300 fw-fz-30 fw-mb-30 fw-text-center">Архив моих рассылок</p>
    <div class="fw-grid fw-grid-30">
      <div class="fw-width-1-2">
        <p class="fw-fw-600 fw-fz-16">Проявили интерес</p>
        <div>
          <div class="user-list">
            <div class="fw-flex fw-flex-middle fw-mt-20">
              <div class="fw-flex-shrink-no fw-img-square-100 rounded fw-mr-20">
                <img src="http://placehold.it/100x100" alt="">
              </div>
              <div class="fw-flex-grow fw-flex-shrink fw-flex-basis-0">
                <div class="fw-width-1-1 fw-flex fw-fz-13">
                  <p class="fw-flex-shrink-no">Сегодня 16:53</p>
                  <p class="fw-flex-grow fw-color-purple fw-fz-14 fw-ml-5 fw-mw-260 fw-text-ellipsis">Перешла из мобильного приложения</p>
                </div>
                <p class="fw-width-1-1 fw-fw-600 fw-fz-14 fw-mt-10">Саша 22, Россия, Санкт-Петербург</p>
                <p class="fw-width-1-1 fw-mt-10 fw-text-ellipsis fw-hus fw-text-warmgrey fw-fz-13 fw-hus--style-2 fw-hus-reverse user-list__time">была 13 часов назад</p>
              </div>
            </div>
            <a href="#" class="violet-button"><i class="icon-message-light fw-mr-5"></i> Написать</a>
          </div>
        </div>
      </div>

      <div class="fw-width-1-2">
        <app-mailing-create-plate [editingMailing]="editingMailing"></app-mailing-create-plate>
      </div>
    </div>
  </div>
</section>