<div class="popup popup--standard fw-width-800">
  <h1 class="page-section__head head"><span class="head__icon"><i class="icon-purchases-photo-approve"></i></span><span
      class="head__title">Подтвержденные фотографии</span></h1>
  <p class="page-section__excerpt fw-mt-40">Выбирая девушку на сайте Золушка project, вы можете быть уверены, что ее
    фотография на сайте соответствует реальности, если у нее стоит лейбл: «фото проверено».</p>
  <p class="page-section__text fw-mt-20">Мужчины могут фильтровать девушек по данному критерию. Подключите услугу и
    будьте спокойны в том, что вы общаетесь действительно с девушкой.Услуга покупается на неделю или месяц.</p>
  <div class="fw-flex fw-mt-30">
    <div class="fw-mr-30 fw-flex-shrink-no">
      <img src="/assets/images/pages/purchases/approve/thumbnail.jpg" alt="" class="fw-width-263">
    </div>
    <div class="fw-flex-grow">
      <p class="page-section__excerpt">Как девушки подтверждают фото?</p>
      <p class="page-section__text fw-mt-20">Пишут указанный номер для нее на бумаге и отправляет фото с ним, как
        показано на примере</p>
      <hr>
      <p class="page-section__title page-section__title--small fw-dark-grey-color fw-normal fw-mb-20">Стоимость места на
        неделю - 105 рублей</p>
      <a class="button button--primary">Купить</a>
    </div>
  </div>
</div>
