<div class="fw-text-center fw-mb-20">
  <div class="fw-fz-24 fw-mb-10">Найти девушку за 30 минут</div>
  <div>
    Получайте десятки откликов,<br>
    не теряя время на изучение множества анкет и переписку.
  </div>
</div>
<owl-carousel [options]="{items: 1, dots: true, nav: true}" class="carousel-navs carousel-dots">
  <div *ngFor="let feedback of feedbacks" class="item fw-flex fw-flex-middle fw-flex-center">
    <div class="fw-flex fw-flex-middle fw-mw-335">
      <div class="fw-mr-10 fw-flex-shrink-no">
        <a class="fw-block fw-width-50 fw-height-proportional-100 "><img src="{{feedback.avatar}}"
                                                                         class="fw-brp-50 fw-width-1-1" alt=""></a>
      </div>
      <div class="fw-flex-grow">
        <p class="fw-fw-600 fw-fz-14">{{feedback.name}} {{feedback.age}}, {{feedback.city.title}}</p>
        <p class="fw-fz-14 fw-text-italic fw-color-semipurple">{{feedback.message}}</p>
      </div>
    </div>
  </div>
</owl-carousel>
<div class="panel-section__devider"></div>
