<!-- Navigation -->
<nav class="navigation">
    <div class="container">
        <div class="navigation__inner-wrapper">
            <nav class="navigation__bar">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a routerLink="/search" class="navigation__link" routerLinkActive="navigation__link_active">
                            {{ 'LINKS.SEARCH' | translate }}
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" routerLink="/profile-views">
                            {{ 'LINKS.WHO_WATCHED' | translate }}
                            <span class="navigation__counter"></span>
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" routerLink="/mailing">
                            {{ 'LINKS.MAILING' | translate }}
                            <span class="navigation__counter">59</span>
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" (click)="openChat($event)">
                            {{ 'LINKS.MESSAGES' | translate }}
                            <span class="navigation__counter">150</span>
                        </a>
                    </li>
                    <li class="navigation__item navigation__item_submenu">
                        <a class="navigation__link">{{ 'LINKS.PURCHASES' | translate }}</a>
                        <div class="navigation__submenu">
                            подменю
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="navigation__account">
                <div class="navigation__wallet fw-mr-10">
                    <a routerLink="['/wallet']" class="navigation__wallet-icon fw-mr-5 fw-inline-block">
                        <i class="icon-header-wallet"></i>
                    </a>
                    <span class="fw-inline-block">{{user_info['balanceAmount']}} Р.</span>
                </div>
                <div class="navigation__profile fw-mr-10">
                    <a routerLink="/profile" class="navigation__profile-link">
                        <img src="{{(user_info['avatar']) ? user_info['avatar']['_links']['thumbnail'] : './assets/images/default-navigation-avatar.svg'}}"
                             class="navigation__profile-image fw-inline-block" alt="">
                        <span class="navigation__profile-status">
                            <i class="icon-profile-{{user_info['clientState']}}"></i>
                            <!--<i class="icon-profile-blocked"></i>
                            <i class="icon-profile-invisible"></i>-->
                        </span>
                    </a>
                </div>
                <div class="navigation__buy-premium fw-mr-10" *ngIf="!user_info['premium']">
                    <a routerLink="/wallet/buy-premium" class="button button--transparent button-small">
                        <span class="button--transparent__text">{{ 'BUTTONS.BUY_PREMIUM' | translate }}</span>
                    </a>
                </div>
                <div class="js-navigation__settings navigation__settings">
                    <div class="navigation__settings-icon js-navigation__settings-icon">
                        <i class="icon-header-cog"></i>
                    </div>
                    <div class="js-navigation__settings-dropdown navigation__settings-wrapper">
                        <ul class="navigation__settings-listing">
                            <li class="navigation__settings-item">
                                <a routerLink="/profile" class="navigation__settings-link">{{ 'LINKS.PROFILE' | translate }}</a>
                            </li>
                            <li class="navigation__settings-item">
                                <a routerLink="/wallet" class="navigation__settings-link">{{ 'LINKS.WALLET' | translate }}</a>
                            </li>
                            <li class="navigation__settings-item">
                                <a routerLink="/settings" class="navigation__settings-link">{{ 'LINKS.SETTINGS' | translate }}</a>
                            </li>
                            <li class="navigation__settings-item">
                                <a (click)="navigationLogout()"
                                   class="navigation__settings-link navigation__settings-link_red">{{ 'LINKS.LOG_OUT' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav><!-- Navigation end -->